@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
            transform: rotate3d(0, 0, 1, 200deg); }
  100% {
    -webkit-transform: none;
    opacity: 1;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none; } }
@keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
            transform: rotate3d(0, 0, 1, 200deg); }
  100% {
    opacity: 1;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes spin-it {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes spin-it {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
.square--xsmall {
  height: 24px;
  width: 24px; }
.square--small {
  height: 32px;
  width: 32px; }
.square--medium {
  height: 40px;
  width: 40px; }
.square--large {
  height: 56px;
  width: 56px; }

.u-full-height {
  min-height: 100%;
  min-height: 100vh; }
  @media (min-width: 1px) {
    .u-full-height-for-xs {
      min-height: 100%;
      min-height: 100vh; } }
  @media (min-width: 1px) and (min-width: 420px) {
    .u-full-height-for-xs-only {
      min-height: 100%;
      min-height: 100vh; } }
  @media (min-width: 1px) {
    .u-full-height-for-sm {
      min-height: 100%;
      min-height: 100vh; } }
  @media (min-width: 1px) and (min-width: 768px) {
    .u-full-height-for-sm-only {
      min-height: 100%;
      min-height: 100vh; } }
  @media (min-width: 768px) {
    .u-full-height-for-md {
      min-height: 100%;
      min-height: 100vh; } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .u-full-height-for-md-only {
      min-height: 100%;
      min-height: 100vh; } }
  @media (min-width: 1024px) {
    .u-full-height-for-lg {
      min-height: 100%;
      min-height: 100vh; } }
.u-half-height {
  min-height: 50%;
  min-height: 50vh; }
  @media (min-width: 1px) {
    .u-half-height-for-xs {
      min-height: 50%;
      min-height: 50vh; } }
  @media (min-width: 1px) and (min-width: 420px) {
    .u-half-height-for-xs-only {
      min-height: 50%;
      min-height: 50vh; } }
  @media (min-width: 1px) {
    .u-half-height-for-sm {
      min-height: 50%;
      min-height: 50vh; } }
  @media (min-width: 1px) and (min-width: 768px) {
    .u-half-height-for-sm-only {
      min-height: 50%;
      min-height: 50vh; } }
  @media (min-width: 768px) {
    .u-half-height-for-md {
      min-height: 50%;
      min-height: 50vh; } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .u-half-height-for-md-only {
      min-height: 50%;
      min-height: 50vh; } }
  @media (min-width: 1024px) {
    .u-half-height-for-lg {
      min-height: 50%;
      min-height: 50vh; } }
.u-max-width-full {
  max-width: 100%; }

@font-face {
  font-family: 'juicons';
  src: url("fonts/juicons/juicons.eot?-m8mnji");
  src: url("fonts/juicons/juicons.eot?#iefix-m8mnji") format("embedded-opentype"), url("fonts/juicons/juicons.ttf?-m8mnji") format("truetype"), url("fonts/juicons/juicons.svg?-m8mnji#juicons") format("svg"), url("fonts/juicons/juicons.woff?-m8mnji") format("woff");
  font-weight: normal;
  font-style: normal; }
.icon, .color-swatches li:nth-child(7n + 4) {
  font-family: juicons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  line-height: 1.5;
  vertical-align: top; }
  .icon:before, .color-swatches li:nth-child(7n + 4):before {
    display: inline-block;
    vertical-align: top; }

.icon--media-captions:before {
  content: "\e6b8"; }

.icon--media-pause:before {
  content: "\e6b3"; }

.icon--media-play:before {
  content: "\e6b4"; }

.icon--media-stop:before {
  content: "\e6b5"; }

.icon--media-volume-mute:before {
  content: "\e6b6"; }

.icon--media-volume:before {
  content: "\e6b7"; }

.icon--skull:before {
  content: "\e6b2"; }

.icon--alert:before {
  content: "\e600"; }

.icon--anatomy:before {
  content: "\e601"; }

.icon--archive:before {
  content: "\e602"; }

.icon--arrow-down:before {
  content: "\e603"; }

.icon--arrow-left:before {
  content: "\e604"; }

.icon--arrow-right:before {
  content: "\e605"; }

.icon--arrow-up:before {
  content: "\e606"; }

.icon--asterisk:before {
  content: "\e607"; }

.icon--avatar-circle:before {
  content: "\e608"; }

.icon--avatar-square:before {
  content: "\e609"; }

.icon--ban:before {
  content: "\e60a"; }

.icon--bank:before {
  content: "\e60b"; }

.icon--basket:before {
  content: "\e60c"; }

.icon--blocks:before {
  content: "\e60d"; }

.icon--book:before {
  content: "\e60e"; }

.icon--bookmark:before {
  content: "\e60f"; }

.icon--browser:before {
  content: "\e610"; }

.icon--building:before {
  content: "\e611"; }

.icon--bullhorn:before {
  content: "\e612"; }

.icon--bus:before {
  content: "\e613"; }

.icon--calendar:before {
  content: "\e614"; }

.icon--camera:before {
  content: "\e615"; }

.icon--car:before {
  content: "\e616"; }

.icon--caret-down:before {
  content: "\e617"; }

.icon--caret-left:before {
  content: "\e618"; }

.icon--caret-right:before {
  content: "\e619"; }

.icon--caret-up:before {
  content: "\e61a"; }

.icon--cart:before {
  content: "\e61b"; }

.icon--case:before {
  content: "\e61c"; }

.icon--cat:before {
  content: "\e61d"; }

.icon--chart-bar:before {
  content: "\e61e"; }

.icon--chart-pie:before {
  content: "\e61f"; }

.icon--chat:before {
  content: "\e620"; }

.icon--check-circle:before {
  content: "\e621"; }

.icon--check:before {
  content: "\e622"; }

.icon--chevron-down:before {
  content: "\e623"; }

.icon--chevron-left:before {
  content: "\e624"; }

.icon--chevron-right:before {
  content: "\e625"; }

.icon--chevron-up:before {
  content: "\e626"; }

.icon--circle:before {
  content: "\e627"; }

.icon--clipboard:before {
  content: "\e628"; }

.icon--clock:before {
  content: "\e629"; }

.icon--cloud:before {
  content: "\e62a"; }

.icon--contacts:before {
  content: "\e62b"; }

.icon--contract:before {
  content: "\e62c"; }

.icon--credit-card:before {
  content: "\e62d"; }

.icon--crosshairs:before {
  content: "\e62e"; }

.icon--dashboard:before {
  content: "\e62f"; }

.icon--database:before {
  content: "\e630"; }

.icon--dislike:before {
  content: "\e631"; }

.icon--document-code:before {
  content: "\e632"; }

.icon--document-misc:before {
  content: "\e633"; }

.icon--document:before {
  content: "\e634"; }

.icon--documents-group:before {
  content: "\e635"; }

.icon--documents:before {
  content: "\e636"; }

.icon--dog:before {
  content: "\e637"; }

.icon--dots:before {
  content: "\e638"; }

.icon--download:before {
  content: "\e639"; }

.icon--dropbox:before {
  content: "\e63a"; }

.icon--earth:before {
  content: "\e63b"; }

.icon--envelope-open:before {
  content: "\e63c"; }

.icon--envelope:before {
  content: "\e63d"; }

.icon--exclamation-circle:before {
  content: "\e63e"; }

.icon--exclamation:before {
  content: "\e63f"; }

.icon--expand:before {
  content: "\e640"; }

.icon--eye:before {
  content: "\e641"; }

.icon--facebook:before {
  content: "\e642"; }

.icon--firstaid:before {
  content: "\e643"; }

.icon--flag:before {
  content: "\e644"; }

.icon--flip:before {
  content: "\e645"; }

.icon--flow:before {
  content: "\e646"; }

.icon--folder:before {
  content: "\e647"; }

.icon--funnel:before {
  content: "\e648"; }

.icon--future:before {
  content: "\e649"; }

.icon--gear:before {
  content: "\e64a"; }

.icon--gesture-drag:before {
  content: "\e64b"; }

.icon--gesture-pinch-out:before {
  content: "\e64c"; }

.icon--gesture-pinch:before {
  content: "\e64d"; }

.icon--gesture-swipe-down:before {
  content: "\e64e"; }

.icon--gesture-swipe-left:before {
  content: "\e64f"; }

.icon--gesture-swipe-right:before {
  content: "\e650"; }

.icon--gesture-swipe-up:before {
  content: "\e651"; }

.icon--gesture-tap-double:before {
  content: "\e652"; }

.icon--gesture-tap-hold:before {
  content: "\e653"; }

.icon--gesture-tap:before {
  content: "\e654"; }

.icon--google-drive:before {
  content: "\e655"; }

.icon--google-plus:before {
  content: "\e656"; }

.icon--grid-uneven:before {
  content: "\e657"; }

.icon--grid:before {
  content: "\e658"; }

.icon--group:before {
  content: "\e659"; }

.icon--guage:before {
  content: "\e65a"; }

.icon--heart:before {
  content: "\e65b"; }

.icon--hexagon:before {
  content: "\e65c"; }

.icon--history:before {
  content: "\e65d"; }

.icon--home:before {
  content: "\e65e"; }

.icon--image:before {
  content: "\e65f"; }

.icon--info-circle:before {
  content: "\e660"; }

.icon--info:before {
  content: "\e661"; }

.icon--key:before {
  content: "\e662"; }

.icon--laptop:before {
  content: "\e663"; }

.icon--lightbulb:before {
  content: "\e664"; }

.icon--like:before {
  content: "\e665"; }

.icon--link:before {
  content: "\e666"; }

.icon--linkedin:before {
  content: "\e667"; }

.icon--list:before {
  content: "\e668"; }

.icon--loading:before {
  content: "\e669"; }

.icon--location:before {
  content: "\e66a"; }

.icon--lock:before {
  content: "\e66b"; }

.icon--menu:before {
  content: "\e66c"; }

.icon--merchant:before {
  content: "\e66d"; }

.icon--microphone:before {
  content: "\e66e"; }

.icon--minus-circle:before {
  content: "\e66f"; }

.icon--minus:before {
  content: "\e670"; }

.icon--money:before {
  content: "\e671"; }

.icon--monitor:before {
  content: "\e672"; }

.icon--move-horizontal:before {
  content: "\e673"; }

.icon--move-vertical:before {
  content: "\e674"; }

.icon--move:before {
  content: "\e675"; }

.icon--network:before {
  content: "\e676"; }

.icon--new-window:before {
  content: "\e677"; }

.icon--notebook:before {
  content: "\e678"; }

.icon--octagon:before {
  content: "\e679"; }

.icon--palette:before {
  content: "\e67a"; }

.icon--paperclip:before {
  content: "\e67b"; }

.icon--pencil:before {
  content: "\e67c"; }

.icon--pentagon:before {
  content: "\e67d"; }

.icon--people:before {
  content: "\e67e"; }

.icon--person-add:before {
  content: "\e67f"; }

.icon--person-file:before {
  content: "\e680"; }

.icon--person:before {
  content: "\e681"; }

.icon--phone-smart:before {
  content: "\e682"; }

.icon--phone:before {
  content: "\e683"; }

.icon--pin:before {
  content: "\e684"; }

.icon--plus-circle:before {
  content: "\e685"; }

.icon--plus:before {
  content: "\e686"; }

.icon--present:before {
  content: "\e687"; }

.icon--print:before {
  content: "\e688"; }

.icon--profile-landscape:before {
  content: "\e689"; }

.icon--profile-portrait:before {
  content: "\e68a"; }

.icon--puzzle:before {
  content: "\e68b"; }

.icon--question-circle:before {
  content: "\e68c"; }

.icon--question:before {
  content: "\e68d"; }

.icon--refresh:before {
  content: "\e68e"; }

.icon--reload:before {
  content: "\e68f"; }

.icon--reply:before {
  content: "\e690"; }

.icon--rhombus:before {
  content: "\e691"; }

.icon--scissors:before {
  content: "\e692"; }

.icon--search:before {
  content: "\e695"; }

.icon--share:before {
  content: "\e696"; }

.icon--shield:before {
  content: "\e697"; }

.icon--signin:before {
  content: "\e698"; }

.icon--signout:before {
  content: "\e699"; }

.icon--sliders:before {
  content: "\e69a"; }

.icon--sort:before {
  content: "\e69b"; }

.icon--square:before {
  content: "\e69c"; }

.icon--star:before, .color-swatches li:nth-child(7n + 4):before {
  content: "\e69d"; }

.icon--stopwatch:before {
  content: "\e69e"; }

.icon--tablet:before {
  content: "\e69f"; }

.icon--tag:before {
  content: "\e6a0"; }

.icon--thumbs:before {
  content: "\e6a1"; }

.icon--toolbox:before {
  content: "\e6a2"; }

.icon--train-subway:before {
  content: "\e6a3"; }

.icon--train:before {
  content: "\e6a4"; }

.icon--trapezoid:before {
  content: "\e6a5"; }

.icon--trash:before {
  content: "\e6a6"; }

.icon--tree:before {
  content: "\e6a7"; }

.icon--triangle:before {
  content: "\e6a8"; }

.icon--trophy:before {
  content: "\e6a9"; }

.icon--twitter:before {
  content: "\e6aa"; }

.icon--undo:before {
  content: "\e6ab"; }

.icon--upload:before {
  content: "\e6ac"; }

.icon--usd:before {
  content: "\e6ad"; }

.icon--video:before {
  content: "\e6ae"; }

.icon--wrench:before {
  content: "\e6af"; }

.icon--x-circle:before {
  content: "\e6b0"; }

.icon--x:before {
  content: "\e6b1"; }

.icon--jui-kit:before {
  content: "\e694"; }

.icon--quoteboy:before {
  content: "\e693"; }

html {
  height: 100%; }

.doc-bg-1 {
  background-color: #2585c1; }

.doc-bg-2 {
  background-color: #e9ebed; }

.doc-bg-transparent {
  background-color: transparent; }

body .scope-container .doc-nav {
  display: block; }
  body .scope-container .doc-nav li {
    display: block;
    margin: 0; }
  @media (min-width: 768px) {
    body .scope-container .doc-nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 768px) {
    body .scope-container .doc-nav > li {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
         -moz-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%; } }
body .scope-container .doc-page-header {
  background-color: #2a94d6;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto 256px;
  min-height: 256px;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 769px) {
    body .scope-container .doc-page-header {
      padding: 2em 0; } }
  body .scope-container .doc-page-header--feature {
    text-align: center; }
    body .scope-container .doc-page-header--feature .doc-page-subheading {
      margin: 0 auto; }
    body .scope-container .doc-page-header--feature .button--solid.button--primary .button__content {
      background-color: #2585c1; }
body .scope-container .doc-page-header-inner {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media (min-width: 768px) {
    body .scope-container .doc-page-header-inner {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; } }
body .scope-container #feature-header {
  background: url("../assets/illustrations/feature.png") repeat bottom right;
  background-size: auto 256px; }
body .scope-container #bathroom-sink-header {
  background: url("../assets/illustrations/bathroom-sink.png") no-repeat bottom right, url("../assets/illustrations/feature.png") repeat bottom right;
  background-size: auto 256px; }
body .scope-container #templates-header {
  background: url("../assets/illustrations/templates.png") no-repeat bottom right, url("../assets/illustrations/feature.png") repeat bottom right;
  background-size: auto 256px; }
body .scope-container #style-header {
  background: url("../assets/illustrations/style.png") no-repeat bottom right, url("../assets/illustrations/feature.png") repeat bottom right;
  background-size: auto 256px; }
body .scope-container .doc-page-heading {
  color: white;
  font-family: ProximaNova;
  font-size: 2em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    body .scope-container .doc-page-heading {
      font-size: 3em; } }
body .scope-container .doc-page-subheading {
  color: rgba(255, 255, 255, 0.4);
  font-family: ProximaNova;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  max-width: 300px; }
  body .scope-container .doc-page-subheading a, body .scope-container .doc-page-subheading a:link, body .scope-container .doc-page-subheading a:visited {
    color: white; }
body .scope-container #docs {
  margin: 0 auto;
  max-width: 48em; }
  body .scope-container #docs h1, body .scope-container #docs h2, body .scope-container #docs h3, body .scope-container #docs h4, body .scope-container #docs h5, body .scope-container #docs h6 {
    color: #384047; }
  body .scope-container #docs section + .doc-section-heading {
    margin-top: 96px; }
  body .scope-container #docs .doc-section-heading {
    color: #2a94d6;
    font-family: ProximaNova;
    font-size: 1.25em;
    line-height: 24px;
    margin-top: 64px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      body .scope-container #docs .doc-section-heading {
        margin-top: 96px; } }
  body .scope-container #docs .doc-article-heading {
    color: #8d99a6;
    font-family: ProximaNova;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: uppercase; }
    body .scope-container #docs .doc-article-heading + p {
      margin-top: 0; }
  body .scope-container #docs section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px; }
    @media (min-width: 1px) and (max-width: 768px) {
      body .scope-container #docs section {
        -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap; } }
    body .scope-container #docs section.vertical {
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; }
    body .scope-container #docs section:last-child {
      margin-bottom: 6em; }
  body .scope-container #docs article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 1.5em;
    padding-left: 16px; }
    body .scope-container #docs article.big {
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
         -moz-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2; }
  body .scope-container #docs .line-pre {
    background-color: #f7f8f9;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16/12;
    margin-bottom: 4em;
    margin-top: 2em;
    max-height: 512px;
    padding: 1.14286em; }
    body .scope-container #docs .line-pre .pl-ent {
      color: #43b66a; }
    body .scope-container #docs .line-pre .pl-e {
      color: #2a94d6; }
    body .scope-container #docs .line-pre .pl-s3 {
      color: #47cfd2; }
    body .scope-container #docs .line-pre .pl-s1 {
      color: #c06057; }
    body .scope-container #docs .line-pre .pl-st {
      color: #f39e58; }
  body .scope-container #docs p {
    margin: 1.5em 0 0 0;
    max-width: 27.5em; }
  body .scope-container #docs h1 {
    margin: 0.75em 0 0 0; }
  body .scope-container #docs h2 {
    margin: 1em 0 0 0; }
  body .scope-container #docs h3 {
    margin: 1.2em 0 0 0; }
  body .scope-container #docs h4 {
    margin: 1.5em 0 0 0; }
  body .scope-container #docs h5 {
    margin: 1.71429em 0 0 0; }
  body .scope-container #docs h6 {
    margin: 2em 0 0 0; }
  body .scope-container #docs code {
    background-color: #e9ebed;
    border-radius: 3px;
    color: #c06057;
    font-size: ProximaNovaSoft;
    line-height: 1.5;
    padding: 2px 8px;
    vertical-align: top; }
  body .scope-container #docs .button.docButton {
    margin: 1em 0; }
body .scope-container #type article {
  margin: 0; }
body .scope-container #grid-examples {
  margin-left: -16px; }
  body .scope-container #grid-examples .grid {
    margin-bottom: 16px; }
  body .scope-container #grid-examples .grid__block {
    background: #e9ebed;
    border-left: 16px solid white;
    min-height: 48px; }
body .scope-container #icons ul {
  text-align: center; }
body .scope-container #icons .icon--example {
  color: #8d99a6;
  display: inline-block;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  margin: 16px 0;
  text-align: center; }
body .scope-container #icons article {
  margin-top: 0; }
body .scope-container #icons .doc-article-heading {
  margin-top: 32px; }
body .scope-container #alerts .alert.alert--active {
  margin-bottom: 1em; }
body .scope-container #cards .card-list .card {
  margin-bottom: 8px; }
@media (min-width: 1px) and (max-width: 768px) {
  body .scope-container .template-nav {
    display: none; } }
body .scope-container .template-iframe {
  border: 0;
  width: 400%;
  -ms-zoom: 0.25;
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0px 25px;
  -o-transform: scale(0.25);
  -o-transform-origin: 0px 25px;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  height: 400%;
  cursor: pointer; }
body .scope-container .template-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1; }
@media (min-width: 768px) {
  body .scope-container .template-list li {
    margin-bottom: 16px; } }
body .scope-container > .nav-bar .nav-bar__top {
  font-family: ProximaNova; }

.color-swatches {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  .color-swatches li:nth-child(1) {
    background: #9dceec; }
    .color-swatches li:nth-child(1):after {
      content: "#9dceec"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(2) {
    background: #88c3e8; }
    .color-swatches li:nth-child(2):after {
      content: "#88c3e8"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(3) {
    background: #55a9de; }
    .color-swatches li:nth-child(3):after {
      content: "#55a9de"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(4) {
    background: #2a94d6; }
    .color-swatches li:nth-child(4):after {
      content: "#2a94d6"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(5) {
    background: #2585c1; }
    .color-swatches li:nth-child(5):after {
      content: "#2585c1"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(6) {
    background: #2177ac; }
    .color-swatches li:nth-child(6):after {
      content: "#2177ac"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(7) {
    background: #195981; }
    .color-swatches li:nth-child(7):after {
      content: "#195981"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(8) {
    background: #a5deb8; }
    .color-swatches li:nth-child(8):after {
      content: "#a5deb8"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(9) {
    background: #92d7aa; }
    .color-swatches li:nth-child(9):after {
      content: "#92d7aa"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(10) {
    background: #66c686; }
    .color-swatches li:nth-child(10):after {
      content: "#66c686"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(11) {
    background: #43b66a; }
    .color-swatches li:nth-child(11):after {
      content: "#43b66a"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(12) {
    background: #3ca35f; }
    .color-swatches li:nth-child(12):after {
      content: "#3ca35f"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(13) {
    background: #359154; }
    .color-swatches li:nth-child(13):after {
      content: "#359154"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(14) {
    background: #286b3f; }
    .color-swatches li:nth-child(14):after {
      content: "#286b3f"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(15) {
    background: #e6bfbb; }
    .color-swatches li:nth-child(15):after {
      content: "#e6bfbb"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(16) {
    background: #dfada9; }
    .color-swatches li:nth-child(16):after {
      content: "#dfada9"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(17) {
    background: #ce837c; }
    .color-swatches li:nth-child(17):after {
      content: "#ce837c"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(18) {
    background: #c06057; }
    .color-swatches li:nth-child(18):after {
      content: "#c06057"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(19) {
    background: #b84f45; }
    .color-swatches li:nth-child(19):after {
      content: "#b84f45"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(20) {
    background: #a6473e; }
    .color-swatches li:nth-child(20):after {
      content: "#a6473e"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(21) {
    background: #813730; }
    .color-swatches li:nth-child(21):after {
      content: "#813730"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(22) {
    background: #f5e3b3; }
    .color-swatches li:nth-child(22):after {
      content: "#f5e3b3"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(23) {
    background: #f3db9d; }
    .color-swatches li:nth-child(23):after {
      content: "#f3db9d"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(24) {
    background: #ecc766; }
    .color-swatches li:nth-child(24):after {
      content: "#ecc766"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(25) {
    background: #e6b739; }
    .color-swatches li:nth-child(25):after {
      content: "#e6b739"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(26) {
    background: #e3af22; }
    .color-swatches li:nth-child(26):after {
      content: "#e3af22"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(27) {
    background: #d2a01a; }
    .color-swatches li:nth-child(27):after {
      content: "#d2a01a"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(28) {
    background: #a47d15; }
    .color-swatches li:nth-child(28):after {
      content: "#a47d15"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(29) {
    background: #b6eced; }
    .color-swatches li:nth-child(29):after {
      content: "#b6eced"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(30) {
    background: #a1e7e8; }
    .color-swatches li:nth-child(30):after {
      content: "#a1e7e8"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(31) {
    background: #70dadc; }
    .color-swatches li:nth-child(31):after {
      content: "#70dadc"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(32) {
    background: #47cfd2; }
    .color-swatches li:nth-child(32):after {
      content: "#47cfd2"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(33) {
    background: #33cacd; }
    .color-swatches li:nth-child(33):after {
      content: "#33cacd"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(34) {
    background: #2db6b9; }
    .color-swatches li:nth-child(34):after {
      content: "#2db6b9"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(35) {
    background: #238d90; }
    .color-swatches li:nth-child(35):after {
      content: "#238d90"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(36) {
    background: #768593; }
    .color-swatches li:nth-child(36):after {
      content: "#768593"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(37) {
    background: #697986; }
    .color-swatches li:nth-child(37):after {
      content: "#697986"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(38) {
    background: #4e5a64; }
    .color-swatches li:nth-child(38):after {
      content: "#4e5a64"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(39) {
    background: #384047; }
    .color-swatches li:nth-child(39):after {
      content: "#384047"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(40) {
    background: #2d3339; }
    .color-swatches li:nth-child(40):after {
      content: "#2d3339"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(41) {
    background: #22262a; }
    .color-swatches li:nth-child(41):after {
      content: "#22262a"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(42) {
    background: #0b0d0e; }
    .color-swatches li:nth-child(42):after {
      content: "#0b0d0e"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(43) {
    background: #f7f8f9; }
    .color-swatches li:nth-child(43):after {
      content: "#f7f8f9"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(44) {
    background: #e9ebed; }
    .color-swatches li:nth-child(44):after {
      content: "#e9ebed"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(45) {
    background: #c7ccd2; }
    .color-swatches li:nth-child(45):after {
      content: "#c7ccd2"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(46) {
    background: #aab3bc; }
    .color-swatches li:nth-child(46):after {
      content: "#aab3bc"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(47) {
    background: #9ca6b1; }
    .color-swatches li:nth-child(47):after {
      content: "#9ca6b1"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(48) {
    background: #8d99a6; }
    .color-swatches li:nth-child(48):after {
      content: "#8d99a6"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }
  .color-swatches li:nth-child(49) {
    background: #71808f; }
    .color-swatches li:nth-child(49):after {
      content: "#71808f"; }
  .color-swatches li:nth-child(7n + 4):before {
    width: 100%;
    text-align: center;
    height: 96px;
    line-height: 96px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1); }

.color-swatch {
  box-shadow: inset -4px 0 0 0 white, inset 4px 0 0 0 white;
  height: 128px;
  margin-bottom: 8px;
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14.28571%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 14.28571%;
          flex: 0 0 14.28571%; }
  .color-swatch:after {
    background: #e9ebed;
    box-shadow: inset -4px 0 0 0 white, inset 4px 0 0 0 white;
    display: block;
    height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px; }

.nav-bar__top .icon--jui-kit {
  font-size: 32px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 8px; }

.article-icon {
  display: block !important;
  vertical-align: middle !important;
  text-align: center;
  font-size: 48px;
  line-height: 128px !important;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #e9ebed;
  color: #aab3bc;
  margin: 0 auto 16px auto; }
  .article-icon + .doc-article-heading {
    color: #2a94d6 !important;
    text-align: center !important; }

.bs-nav {
  visibility: hidden;
  overflow: hidden;
  height: 0; }
  .bs-nav li a {
    line-height: 24px; }
  @media (min-width: 768px) {
    .bs-nav {
      margin-top: 64px;
      height: auto;
      overflow: auto;
      visibility: visible; } }

.test {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3; }
