@charset "UTF-8";
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
            transform: rotate3d(0, 0, 1, 200deg); }
  100% {
    -webkit-transform: none;
    opacity: 1;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none; } }
@keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
            transform: rotate3d(0, 0, 1, 200deg); }
  100% {
    opacity: 1;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes spin-it {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes spin-it {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
.square--xsmall {
  height: 24px;
  width: 24px; }
.square--small {
  height: 32px;
  width: 32px; }
.square--medium {
  height: 40px;
  width: 40px; }
.square--large {
  height: 56px;
  width: 56px; }

@font-face {
  font-family: 'jui-lettering-medium';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/jui-lettering-medium.eot?#iefix51rmrf") format("embedded-opentype"), url("fonts/jui-lettering-medium.woff?51rmrf") format("woff"), url("fonts/jui-lettering-medium.ttf?51rmrf") format("truetype"), url("fonts/jui-lettering-medium.svg?51rmrf#jui-lettering-medium") format("svg");
  src: url("fonts/jui-lettering-medium.eot?51rmrf"); }
[class^="jui-lettering-medium-"], [class*=" jui-lettering-medium-"] {
  -moz-osx-font-smoothing: grayscale;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  font-family: 'jui-lettering-medium';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none; }

.is-string [class^="jui-lettering-"] {
  margin-left: -.75em;
  vertical-align: middle; }
  .is-string [class^="jui-lettering-"]:first-child {
    margin-left: -.35em; }
.is-string .jui-lettering-medium-i {
  margin-left: -.85em;
  margin-right: -.1em; }
.is-string .jui-lettering-medium-l {
  margin-left: -.8em;
  margin-right: -.05em; }
.is-string .jui-lettering-medium-t {
  margin-left: -.8em;
  margin-right: -.05em; }
.is-string .jui-lettering-medium-w {
  margin-left: -.65em;
  margin-right: .1em; }
.is-string .new-word {
  margin-left: -.5em; }

.jui-lettering-medium-a:before {
  content: "\e600"; }

.jui-lettering-medium-b:before {
  content: "\e601"; }

.jui-lettering-medium-c:before {
  content: "\e602"; }

.jui-lettering-medium-d:before {
  content: "\e603"; }

.jui-lettering-medium-e:before {
  content: "\e604"; }

.jui-lettering-medium-f:before {
  content: "\e605"; }

.jui-lettering-medium-g:before {
  content: "\e606"; }

.jui-lettering-medium-h:before {
  content: "\e607"; }

.jui-lettering-medium-i:before {
  content: "\e608"; }

.jui-lettering-medium-j:before {
  content: "\e609"; }

.jui-lettering-medium-k:before {
  content: "\e60a"; }

.jui-lettering-medium-l:before {
  content: "\e60b"; }

.jui-lettering-medium-logo:before {
  content: "\e60c"; }

.jui-lettering-medium-m:before {
  content: "\e60d"; }

.jui-lettering-medium-n:before {
  content: "\e60e"; }

.jui-lettering-medium-o:before {
  content: "\e60f"; }

.jui-lettering-medium-p:before {
  content: "\e610"; }

.jui-lettering-medium-q:before {
  content: "\e611"; }

.jui-lettering-medium-r:before {
  content: "\e612"; }

.jui-lettering-medium-s:before {
  content: "\e613"; }

.jui-lettering-medium-t:before {
  content: "\e614"; }

.jui-lettering-medium-u:before {
  content: "\e615"; }

.jui-lettering-medium-v:before {
  content: "\e616"; }

.jui-lettering-medium-w:before {
  content: "\e617"; }

.jui-lettering-medium-x:before {
  content: "\e618"; }

.jui-lettering-medium-y:before {
  content: "\e619"; }

.jui-lettering-medium-z:before {
  content: "î˜š"; }

body .scope-container h1, body .scope-container h2, body .scope-container h3, body .scope-container h4, body .scope-container h5, body .scope-container h6 {
  color: #384047; }
body .scope-container section + .doc-section-heading {
  margin-top: 96px; }
body .scope-container .doc-section-heading {
  color: #2a94d6;
  font-family: ProximaNova;
  font-size: 1.25em;
  line-height: 24px;
  margin-top: 64px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    body .scope-container .doc-section-heading {
      margin-top: 96px; } }
body .scope-container .doc-article-heading {
  color: #cfd0d2;
  font-family: ProximaNova;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 0;
  text-transform: uppercase; }
body .scope-container p {
  margin: 1.5em 0 0 0;
  max-width: 27.5em; }
body .scope-container h1 {
  margin: 0.75em 0 0 0; }
body .scope-container h2 {
  margin: 1em 0 0 0; }
body .scope-container h3 {
  margin: 1.2em 0 0 0; }
body .scope-container h4 {
  margin: 1.5em 0 0 0; }
body .scope-container h5 {
  margin: 1.71429em 0 0 0; }
body .scope-container h6 {
  margin: 2em 0 0 0; }
body .scope-container code {
  background-color: #e8eaeb;
  border-radius: 3px;
  color: #c06057;
  font-size: ProximaNovaSoft;
  line-height: 1.5;
  padding: 2px 8px;
  vertical-align: top; }
body .scope-container .button.docButton {
  margin: 1em 0; }
body .scope-container .doc-nav {
  display: block; }
  body .scope-container .doc-nav li {
    display: block;
    margin: 0; }
  @media (min-width: 768px) {
    body .scope-container .doc-nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 768px) {
    body .scope-container .doc-nav > li {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
         -moz-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%; } }
body .scope-container .doc-page-header {
  background-color: #2a94d6;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 256px;
  min-height: 256px;
  padding: 1em; }
  @media (min-width: 768px) {
    body .scope-container .doc-page-header {
      padding: 2em 0; } }
body .scope-container #bathroom-sink-header {
  background-image: url("../assets/illustrations/bathroom-sink.png"); }
body .scope-container #templates-header {
  background-image: url("../assets/illustrations/templates.png"); }
body .scope-container .doc-page-heading {
  color: white;
  font-family: ProximaNova;
  font-size: 3em;
  line-height: 1;
  margin-top: 1.25em; }
body .scope-container .doc-page-subheading {
  color: rgba(255, 255, 255, 0.4);
  font-family: ProximaNova;
  font-weight: 100;
  font-size: 1em;
  line-height: 1;
  margin: 0; }
body .scope-container #docs {
  margin: 0 auto;
  max-width: 50em; }
  body .scope-container #docs section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px; }
    @media (min-width: 1px) and (max-width: 768px) {
      body .scope-container #docs section {
        -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap; } }
    body .scope-container #docs section.vertical {
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; }
    body .scope-container #docs section:last-child {
      margin-bottom: 15em; }
  body .scope-container #docs article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 1.5em;
    padding-left: 16px; }
  body .scope-container #docs .line-pre {
    background-color: #f5f6f7;
    font-size: 14px;
    line-height: 1;
    padding: 1.14286em; }
body .scope-container .big {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
     -moz-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }
body .scope-container #type article {
  margin: 0; }
body .scope-container #grid-examples {
  margin-left: -16px; }
  body .scope-container #grid-examples .grid {
    margin-bottom: 16px; }
  body .scope-container #grid-examples .grid__block {
    background: #e8eaeb;
    border-left: 16px solid white;
    min-height: 48px; }
body .scope-container #icons ul {
  text-align: center; }
body .scope-container #icons .icon-example {
  color: #8d9aa5;
  display: inline-block;
  font-size: 24px;
  height: 24px;
  margin: 16px 0;
  text-align: center;
  width: 24px; }
body .scope-container #icons article {
  margin-top: 0; }
body .scope-container #icons .doc-article-heading {
  margin-top: 32px; }
body .scope-container #alerts .alert.alert--active {
  margin-bottom: 1em; }
body .scope-container #cards .card-list .card {
  margin-bottom: 8px; }
@media (min-width: 1px) and (max-width: 768px) {
  body .scope-container .template-nav {
    display: none; } }
body .scope-container .template-iframe {
  border: 0;
  width: 400%;
  -ms-zoom: 0.25;
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0px 25px;
  -o-transform: scale(0.25);
  -o-transform-origin: 0px 25px;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  height: 400%;
  cursor: pointer; }
body .scope-container .template-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1; }
@media (min-width: 768px) {
  body .scope-container .template-list li {
    margin-bottom: 16px; } }
