@charset "UTF-8";
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
            transform: rotate3d(0, 0, 1, 200deg); }
  100% {
    -webkit-transform: none;
    opacity: 1;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none; } }
@keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
            transform: rotate3d(0, 0, 1, 200deg); }
  100% {
    opacity: 1;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes spin-it {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes spin-it {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
.square--xsmall {
  height: 24px;
  width: 24px; }
.square--small {
  height: 32px;
  width: 32px; }
.square--medium {
  height: 40px;
  width: 40px; }
.square--large {
  height: 56px;
  width: 56px; }

@font-face {
  font-family: 'jui-lettering-medium';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/jui-lettering-medium.eot?#iefix51rmrf") format("embedded-opentype"), url("fonts/jui-lettering-medium.woff?51rmrf") format("woff"), url("fonts/jui-lettering-medium.ttf?51rmrf") format("truetype"), url("fonts/jui-lettering-medium.svg?51rmrf#jui-lettering-medium") format("svg");
  src: url("fonts/jui-lettering-medium.eot?51rmrf"); }
[class^="jui-lettering-medium-"], [class*=" jui-lettering-medium-"] {
  -moz-osx-font-smoothing: grayscale;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  font-family: 'jui-lettering-medium';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none; }

.is-string [class^="jui-lettering-"] {
  margin-left: -.75em;
  vertical-align: middle; }
  .is-string [class^="jui-lettering-"]:first-child {
    margin-left: -.35em; }
.is-string .jui-lettering-medium-i {
  margin-left: -.85em;
  margin-right: -.1em; }
.is-string .jui-lettering-medium-l {
  margin-left: -.8em;
  margin-right: -.05em; }
.is-string .jui-lettering-medium-t {
  margin-left: -.8em;
  margin-right: -.05em; }
.is-string .jui-lettering-medium-w {
  margin-left: -.65em;
  margin-right: .1em; }
.is-string .new-word {
  margin-left: -.5em; }

.jui-lettering-medium-a:before {
  content: "\e600"; }

.jui-lettering-medium-b:before {
  content: "\e601"; }

.jui-lettering-medium-c:before {
  content: "\e602"; }

.jui-lettering-medium-d:before {
  content: "\e603"; }

.jui-lettering-medium-e:before {
  content: "\e604"; }

.jui-lettering-medium-f:before {
  content: "\e605"; }

.jui-lettering-medium-g:before {
  content: "\e606"; }

.jui-lettering-medium-h:before {
  content: "\e607"; }

.jui-lettering-medium-i:before {
  content: "\e608"; }

.jui-lettering-medium-j:before {
  content: "\e609"; }

.jui-lettering-medium-k:before {
  content: "\e60a"; }

.jui-lettering-medium-l:before {
  content: "\e60b"; }

.jui-lettering-medium-logo:before {
  content: "\e60c"; }

.jui-lettering-medium-m:before {
  content: "\e60d"; }

.jui-lettering-medium-n:before {
  content: "\e60e"; }

.jui-lettering-medium-o:before {
  content: "\e60f"; }

.jui-lettering-medium-p:before {
  content: "\e610"; }

.jui-lettering-medium-q:before {
  content: "\e611"; }

.jui-lettering-medium-r:before {
  content: "\e612"; }

.jui-lettering-medium-s:before {
  content: "\e613"; }

.jui-lettering-medium-t:before {
  content: "\e614"; }

.jui-lettering-medium-u:before {
  content: "\e615"; }

.jui-lettering-medium-v:before {
  content: "\e616"; }

.jui-lettering-medium-w:before {
  content: "\e617"; }

.jui-lettering-medium-x:before {
  content: "\e618"; }

.jui-lettering-medium-y:before {
  content: "\e619"; }

.jui-lettering-medium-z:before {
  content: ""; }

html {
  height: 100%; }

.doc-bg-1 {
  background-color: #2585c1; }

.doc-bg-2 {
  background-color: #e9ebed; }

.doc-bg-transparent {
  background-color: transparent; }

body .scope-container .doc-nav {
  display: block; }
  body .scope-container .doc-nav li {
    display: block;
    margin: 0; }
  @media (min-width: 768px) {
    body .scope-container .doc-nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 768px) {
    body .scope-container .doc-nav > li {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
         -moz-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%; } }
body .scope-container .doc-page-header {
  background-color: #2a94d6;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto 256px;
  min-height: 256px;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 769px) {
    body .scope-container .doc-page-header {
      padding: 2em 0; } }
  body .scope-container .doc-page-header--feature {
    text-align: center; }
    body .scope-container .doc-page-header--feature .doc-page-subheading {
      margin: 0 auto; }
    body .scope-container .doc-page-header--feature .button--solid.button--primary .button__content {
      background-color: #2585c1; }
body .scope-container .doc-page-header-inner {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media (min-width: 768px) {
    body .scope-container .doc-page-header-inner {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; } }
body .scope-container #feature-header {
  background: url("../assets/illustrations/feature.png") repeat bottom right;
  background-size: auto 256px; }
body .scope-container #bathroom-sink-header {
  background: url("../assets/illustrations/bathroom-sink.png") no-repeat bottom right, url("../assets/illustrations/feature.png") repeat bottom right;
  background-size: auto 256px; }
body .scope-container #templates-header {
  background: url("../assets/illustrations/templates.png") no-repeat bottom right, url("../assets/illustrations/feature.png") repeat bottom right;
  background-size: auto 256px; }
body .scope-container #style-header {
  background: url("../assets/illustrations/style.png") no-repeat bottom right, url("../assets/illustrations/feature.png") repeat bottom right;
  background-size: auto 256px; }
body .scope-container .doc-page-heading {
  color: white;
  font-family: ProximaNova;
  font-size: 2em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    body .scope-container .doc-page-heading {
      font-size: 3em; } }
body .scope-container .doc-page-subheading {
  color: rgba(255, 255, 255, 0.4);
  font-family: ProximaNova;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  max-width: 300px; }
  body .scope-container .doc-page-subheading a, body .scope-container .doc-page-subheading a:link, body .scope-container .doc-page-subheading a:visited {
    color: white; }
body .scope-container #docs {
  margin: 0 auto;
  max-width: 48em; }
  body .scope-container #docs h1, body .scope-container #docs h2, body .scope-container #docs h3, body .scope-container #docs h4, body .scope-container #docs h5, body .scope-container #docs h6 {
    color: #384047; }
  body .scope-container #docs section + .doc-section-heading {
    margin-top: 96px; }
  body .scope-container #docs .doc-section-heading {
    color: #2a94d6;
    font-family: ProximaNova;
    font-size: 1.25em;
    line-height: 24px;
    margin-top: 64px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      body .scope-container #docs .doc-section-heading {
        margin-top: 96px; } }
  body .scope-container #docs .doc-article-heading {
    color: #8d99a6;
    font-family: ProximaNova;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: uppercase; }
    body .scope-container #docs .doc-article-heading + p {
      margin-top: 0; }
  body .scope-container #docs section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px; }
    @media (min-width: 1px) and (max-width: 768px) {
      body .scope-container #docs section {
        -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap; } }
    body .scope-container #docs section.vertical {
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; }
    body .scope-container #docs section:last-child {
      margin-bottom: 6em; }
  body .scope-container #docs article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 1.5em;
    padding-left: 16px; }
    body .scope-container #docs article.big {
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
         -moz-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2; }
  body .scope-container #docs .line-pre {
    background-color: #f7f8f9;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16/12;
    margin-bottom: 4em;
    margin-top: 2em;
    max-height: 512px;
    padding: 1.14286em; }
    body .scope-container #docs .line-pre .pl-ent {
      color: #43b66a; }
    body .scope-container #docs .line-pre .pl-e {
      color: #2a94d6; }
    body .scope-container #docs .line-pre .pl-s3 {
      color: #47cfd2; }
    body .scope-container #docs .line-pre .pl-s1 {
      color: #c06057; }
    body .scope-container #docs .line-pre .pl-st {
      color: #f39e58; }
  body .scope-container #docs p {
    margin: 1.5em 0 0 0;
    max-width: 27.5em; }
  body .scope-container #docs h1 {
    margin: 0.75em 0 0 0; }
  body .scope-container #docs h2 {
    margin: 1em 0 0 0; }
  body .scope-container #docs h3 {
    margin: 1.2em 0 0 0; }
  body .scope-container #docs h4 {
    margin: 1.5em 0 0 0; }
  body .scope-container #docs h5 {
    margin: 1.71429em 0 0 0; }
  body .scope-container #docs h6 {
    margin: 2em 0 0 0; }
  body .scope-container #docs code {
    background-color: #e9ebed;
    border-radius: 3px;
    color: #c06057;
    font-size: ProximaNovaSoft;
    line-height: 1.5;
    padding: 2px 8px;
    vertical-align: top; }
  body .scope-container #docs .button.docButton {
    margin: 1em 0; }
body .scope-container #type article {
  margin: 0; }
body .scope-container #grid-examples {
  margin-left: -16px; }
  body .scope-container #grid-examples .grid {
    margin-bottom: 16px; }
  body .scope-container #grid-examples .grid__block {
    background: #e9ebed;
    border-left: 16px solid white;
    min-height: 48px; }
body .scope-container #icons ul {
  text-align: center; }
body .scope-container #icons .icon--example {
  color: #8d99a6;
  display: inline-block;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  margin: 16px 0;
  text-align: center; }
body .scope-container #icons article {
  margin-top: 0; }
body .scope-container #icons .doc-article-heading {
  margin-top: 32px; }
body .scope-container #alerts .alert.alert--active {
  margin-bottom: 1em; }
body .scope-container #cards .card-list .card {
  margin-bottom: 8px; }
@media (min-width: 1px) and (max-width: 768px) {
  body .scope-container .template-nav {
    display: none; } }
body .scope-container .template-iframe {
  border: 0;
  width: 400%;
  -ms-zoom: 0.25;
  -ms-transform-origin: 0 0;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0px 25px;
  -o-transform: scale(0.25);
  -o-transform-origin: 0px 25px;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  height: 400%;
  cursor: pointer; }
body .scope-container .template-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1; }
@media (min-width: 768px) {
  body .scope-container .template-list li {
    margin-bottom: 16px; } }
body .scope-container > .nav-bar .nav-bar__top {
  font-family: ProximaNova; }

.color-swatches {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  .color-swatches li:nth-child(1) {
    background: #9dceec; }
    .color-swatches li:nth-child(1):after {
      content: "#9dceec"; }
  .color-swatches li:nth-child(2) {
    background: #88c3e8; }
    .color-swatches li:nth-child(2):after {
      content: "#88c3e8"; }
  .color-swatches li:nth-child(3) {
    background: #55a9de; }
    .color-swatches li:nth-child(3):after {
      content: "#55a9de"; }
  .color-swatches li:nth-child(4) {
    background: #2a94d6; }
    .color-swatches li:nth-child(4):after {
      content: "#2a94d6"; }
  .color-swatches li:nth-child(5) {
    background: #2585c1; }
    .color-swatches li:nth-child(5):after {
      content: "#2585c1"; }
  .color-swatches li:nth-child(6) {
    background: #2177ac; }
    .color-swatches li:nth-child(6):after {
      content: "#2177ac"; }
  .color-swatches li:nth-child(7) {
    background: #195981; }
    .color-swatches li:nth-child(7):after {
      content: "#195981"; }
  .color-swatches li:nth-child(8) {
    background: #a5deb8; }
    .color-swatches li:nth-child(8):after {
      content: "#a5deb8"; }
  .color-swatches li:nth-child(9) {
    background: #92d7aa; }
    .color-swatches li:nth-child(9):after {
      content: "#92d7aa"; }
  .color-swatches li:nth-child(10) {
    background: #66c686; }
    .color-swatches li:nth-child(10):after {
      content: "#66c686"; }
  .color-swatches li:nth-child(11) {
    background: #43b66a; }
    .color-swatches li:nth-child(11):after {
      content: "#43b66a"; }
  .color-swatches li:nth-child(12) {
    background: #3ca35f; }
    .color-swatches li:nth-child(12):after {
      content: "#3ca35f"; }
  .color-swatches li:nth-child(13) {
    background: #359154; }
    .color-swatches li:nth-child(13):after {
      content: "#359154"; }
  .color-swatches li:nth-child(14) {
    background: #286b3f; }
    .color-swatches li:nth-child(14):after {
      content: "#286b3f"; }
  .color-swatches li:nth-child(15) {
    background: #e6bfbb; }
    .color-swatches li:nth-child(15):after {
      content: "#e6bfbb"; }
  .color-swatches li:nth-child(16) {
    background: #dfada9; }
    .color-swatches li:nth-child(16):after {
      content: "#dfada9"; }
  .color-swatches li:nth-child(17) {
    background: #ce837c; }
    .color-swatches li:nth-child(17):after {
      content: "#ce837c"; }
  .color-swatches li:nth-child(18) {
    background: #c06057; }
    .color-swatches li:nth-child(18):after {
      content: "#c06057"; }
  .color-swatches li:nth-child(19) {
    background: #b84f45; }
    .color-swatches li:nth-child(19):after {
      content: "#b84f45"; }
  .color-swatches li:nth-child(20) {
    background: #a6473e; }
    .color-swatches li:nth-child(20):after {
      content: "#a6473e"; }
  .color-swatches li:nth-child(21) {
    background: #813730; }
    .color-swatches li:nth-child(21):after {
      content: "#813730"; }
  .color-swatches li:nth-child(22) {
    background: #f5e3b3; }
    .color-swatches li:nth-child(22):after {
      content: "#f5e3b3"; }
  .color-swatches li:nth-child(23) {
    background: #f3db9d; }
    .color-swatches li:nth-child(23):after {
      content: "#f3db9d"; }
  .color-swatches li:nth-child(24) {
    background: #ecc766; }
    .color-swatches li:nth-child(24):after {
      content: "#ecc766"; }
  .color-swatches li:nth-child(25) {
    background: #e6b739; }
    .color-swatches li:nth-child(25):after {
      content: "#e6b739"; }
  .color-swatches li:nth-child(26) {
    background: #e3af22; }
    .color-swatches li:nth-child(26):after {
      content: "#e3af22"; }
  .color-swatches li:nth-child(27) {
    background: #d2a01a; }
    .color-swatches li:nth-child(27):after {
      content: "#d2a01a"; }
  .color-swatches li:nth-child(28) {
    background: #a47d15; }
    .color-swatches li:nth-child(28):after {
      content: "#a47d15"; }
  .color-swatches li:nth-child(29) {
    background: #b6eced; }
    .color-swatches li:nth-child(29):after {
      content: "#b6eced"; }
  .color-swatches li:nth-child(30) {
    background: #a1e7e8; }
    .color-swatches li:nth-child(30):after {
      content: "#a1e7e8"; }
  .color-swatches li:nth-child(31) {
    background: #70dadc; }
    .color-swatches li:nth-child(31):after {
      content: "#70dadc"; }
  .color-swatches li:nth-child(32) {
    background: #47cfd2; }
    .color-swatches li:nth-child(32):after {
      content: "#47cfd2"; }
  .color-swatches li:nth-child(33) {
    background: #33cacd; }
    .color-swatches li:nth-child(33):after {
      content: "#33cacd"; }
  .color-swatches li:nth-child(34) {
    background: #2db6b9; }
    .color-swatches li:nth-child(34):after {
      content: "#2db6b9"; }
  .color-swatches li:nth-child(35) {
    background: #238d90; }
    .color-swatches li:nth-child(35):after {
      content: "#238d90"; }
  .color-swatches li:nth-child(36) {
    background: #768593; }
    .color-swatches li:nth-child(36):after {
      content: "#768593"; }
  .color-swatches li:nth-child(37) {
    background: #697986; }
    .color-swatches li:nth-child(37):after {
      content: "#697986"; }
  .color-swatches li:nth-child(38) {
    background: #4e5a64; }
    .color-swatches li:nth-child(38):after {
      content: "#4e5a64"; }
  .color-swatches li:nth-child(39) {
    background: #384047; }
    .color-swatches li:nth-child(39):after {
      content: "#384047"; }
  .color-swatches li:nth-child(40) {
    background: #2d3339; }
    .color-swatches li:nth-child(40):after {
      content: "#2d3339"; }
  .color-swatches li:nth-child(41) {
    background: #22262a; }
    .color-swatches li:nth-child(41):after {
      content: "#22262a"; }
  .color-swatches li:nth-child(42) {
    background: #0b0d0e; }
    .color-swatches li:nth-child(42):after {
      content: "#0b0d0e"; }
  .color-swatches li:nth-child(43) {
    background: #f7f8f9; }
    .color-swatches li:nth-child(43):after {
      content: "#f7f8f9"; }
  .color-swatches li:nth-child(44) {
    background: #e9ebed; }
    .color-swatches li:nth-child(44):after {
      content: "#e9ebed"; }
  .color-swatches li:nth-child(45) {
    background: #c7ccd2; }
    .color-swatches li:nth-child(45):after {
      content: "#c7ccd2"; }
  .color-swatches li:nth-child(46) {
    background: #aab3bc; }
    .color-swatches li:nth-child(46):after {
      content: "#aab3bc"; }
  .color-swatches li:nth-child(47) {
    background: #9ca6b1; }
    .color-swatches li:nth-child(47):after {
      content: "#9ca6b1"; }
  .color-swatches li:nth-child(48) {
    background: #8d99a6; }
    .color-swatches li:nth-child(48):after {
      content: "#8d99a6"; }
  .color-swatches li:nth-child(49) {
    background: #71808f; }
    .color-swatches li:nth-child(49):after {
      content: "#71808f"; }

.color-swatch {
  box-shadow: inset -4px 0 0 0 white, inset 4px 0 0 0 white;
  height: 128px;
  margin-bottom: 8px;
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14.28571%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 14.28571%;
          flex: 0 0 14.28571%; }
  .color-swatch:after {
    background: #e9ebed;
    box-shadow: inset -4px 0 0 0 white, inset 4px 0 0 0 white;
    display: block;
    height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px; }

.nav-bar__top .icon--jui-kit {
  font-size: 32px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 8px; }

.article-icon {
  display: block !important;
  vertical-align: middle !important;
  text-align: center;
  font-size: 48px;
  line-height: 128px !important;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #e9ebed;
  color: #aab3bc;
  margin: 0 auto 16px auto; }
  .article-icon + .doc-article-heading {
    color: #2a94d6 !important;
    text-align: center !important; }

.bs-nav {
  visibility: hidden;
  overflow: hidden;
  height: 0; }
  .bs-nav li a {
    line-height: 24px; }
  @media (min-width: 768px) {
    .bs-nav {
      margin-top: 64px;
      height: auto;
      overflow: auto;
      visibility: visible; } }

.test {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3; }
