@import "utilities/index";

body .scope-container {
//type
h1,h2,h3,h4,h5,h6{
  color: $color--black;
}
section + .doc-section-heading {
  margin-top: 96px;
}
.doc-section-heading {
  margin-top: 96px;
  font-size: 1.25em;
  color: $color--primary;
  text-transform: uppercase;
  line-height: 24px;
}
.doc-article-heading {
  color: $color--gray--light;
  text-transform: uppercase;
  font-size: em(14);
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 32px;
  font-weight: $font-weight--3;
}

p {
  margin: 1.5em 0 0 0;
  max-width: em(440);
}

h1 {
  margin: em($base--num*1.5, $font-size--1) 0 0 0;
}
h2 {
  margin: em($base--num*1.5, $font-size--2) 0 0 0;
}

h3 {
  margin: em($base--num*1.5, $font-size--3) 0 0 0;
}

h4 {
  margin: em($base--num*1.5, $font-size--4) 0 0 0;
}

h5 {
  margin: em($base--num*1.5, $font-size--5) 0 0 0;
}

h6 {
  margin: em($base--num*1.5, $font-size--6) 0 0 0;
}

code {
  background-color: $color--gray--x-light;
  font-size: $font--1;
  line-height: 1.5;
  padding: 2px 8px;
  border-radius: 3px;
  color: $color--error;
  vertical-align: top;
}

.button.docButton {
  margin: 1em 0;
}

//layout
#docs {
  margin: 0 auto;
  max-width: em(800);
  padding: 0 px($base--num);
  padding-top: 4em;
}
section {
  margin-left: -(px($base--num));
  @include flexbox();
  @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
    @include flex-flow(column nowrap);
  }
  &.vertical {
    @include flex-flow(column nowrap);
  }
  &:last-child {
    margin-bottom: em(240);
  }
}
article {
  margin-top: em(24);
  padding-left: px($base--num);
  @include flex();
}
.big {
  @include flex-grow(2);
}
#type {
  article {
    margin: 0;
  }
}

#grid-examples {
  margin-left: -16px;
  .grid {
    margin-bottom: 16px;
    &.orient--vertical-on-small {
      .grid__block {
        @media (max-width: $brkpoint-md) {
          margin-bottom: 16px;
        }
      }
    }
  }
  .grid__block {
    background: $color--gray--x-light;
    border-left: 16px solid white;
    min-height: 48px;
  }
}

//icons
#icons {
  ul {
    text-align: center;
  }
  .icon-example {
    color: $color--gray;
    display: inline-block;
    height: 24px;
    width: 24px;
    font-size: 24px;
    text-align: center;
    margin: 16px 0;
  }
  article {
    margin-top: 0;
  }
}

//alerts
#alerts {
  .alert.active {
    margin-bottom: 1em;
  }
}

//cards

#cards {
  .card-list {
    .card {
      margin-bottom: 8px;
    }
  }
}
}