//@import "scope-test/index"; //for testing sf scope
@import "utilities/index";
@import "base/fonts/jui-lettering-medium";

html {
  height: 100%
}
//body, .scope-container, #docs {
//  height: inherit;
//}

.doc-bg-1 {
  background-color: $color--primary--dark;
}
.doc-bg-2 {
  background-color: $color--gray--x-light;
}
.doc-bg-transparent {
  background-color: transparent;
}

body .scope-container {
//  @include flexbox();
//  @include flex-flow(row wrap);
//  @include flex-just(stretch);
//  @include align-content(flex-start);
//  > * {
//    @include flex(0 0 100%);
//  }
  // nav
  .doc-nav {
    display: block;
    li {
      display: block;
      margin: 0;
    }
    @media (min-width: $brkpoint-md) {
      @include flexbox;
    }
    > li {
      @media (min-width: $brkpoint-md) {
        @include flex(0 0 25%);
      }
    }
  }
  //page-headers
  .doc-page-header {
    background-color: $color--primary;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 256px;
    min-height: 256px;
    padding: 1em;
    @include flexbox();
    @media (min-width: $brkpoint-md+1) {
      padding: 2em 0;
    }
    &--feature {
      text-align: center;
      .doc-page-subheading {
        margin: 0 auto;
      }
      .button--solid.button--primary {
        .button__content{
          background-color: $color--primary--dark;
        }
      }
    }
  }
  .doc-page-header-inner {
    @include flex();
    @media (min-width: $brkpoint-md) {
      @include align-self(center);
    }
  }
  #feature-header {
    background: url('../assets/illustrations/feature.png') repeat bottom right;
    background-size: auto 256px;
  }
  #bathroom-sink-header {
    background: url('../assets/illustrations/bathroom-sink.png') no-repeat bottom right ,url('../assets/illustrations/feature.png') repeat bottom right;
    background-size: auto 256px;
  }
  #templates-header {
    background: url('../assets/illustrations/templates.png') no-repeat bottom right ,url('../assets/illustrations/feature.png') repeat bottom right;
    background-size: auto 256px;
  }
  #style-header {
    background: url('../assets/illustrations/style.png') no-repeat bottom right ,url('../assets/illustrations/feature.png') repeat bottom right;
    background-size: auto 256px;
  }
  .doc-page-heading {
    color: $color--white;
    font-family: $font--2;
    font-size: 2em;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 8px;
    @media (min-width: $brkpoint-md) {
      font-size: 3em;
    }
  }
  .doc-page-subheading {
    color: transparentize($color--white, .6);
    font-family: $font--2;
    font-weight: 100;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    max-width: 300px;
    a, a:link, a:visited {
      color: $color--white;
    }
  }
  //layout
  #docs {
    margin: 0 auto;
    max-width: em(768);
    @media (min-width: $brkpoint-md) {
      //padding-top: 4em;
    }
    //type
    h1, h2, h3, h4, h5, h6 {
      color: $text-color-emphasized;
    }
    section + .doc-section-heading {
      margin-top: 96px;
    }
    .doc-section-heading {
      color: $color--primary;
      font-family: $font--2;
      font-size: 1.25em;
      line-height: 24px;
      margin-top: 64px;
      text-transform: uppercase;
      @media (min-width: $brkpoint-md) {
        margin-top: 96px;
      }
    }
    .doc-article-heading {
      color: $text-color-deemphasized;
      font-family: $font--2;
      font-size: em(14);
      font-weight: $font-weight--3;
      line-height: 24px;
      margin-bottom: 8px;
      margin-top: 0;
      text-transform: uppercase;
      + p {
        margin-top: 0;
      }
    }
    section {
      @include flexbox;
      margin-left: -(px($base--num));
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
        @include flex-flow(column nowrap);
      }
      &.vertical {
        @include flex-flow(column nowrap);
      }
      &:last-child {
        margin-bottom: em(96);
      }
    }
    article {
      @include flex;
      margin-top: em(24);
      padding-left: px($base--num);
      &.big {
        @include flex-grow(2);
      }
    }
    .line-pre {
      background-color: $color--gray--xx-light;
      border-radius: $base--radius;
      font-size: 12px;
      line-height: 16/12;
      margin-bottom: 4em;
      margin-top: 2em;
      max-height: 512px;
      padding: em(16, 14);
      .pl-ent {
        color: $color--success;
      }
      .pl-e {
        color: $color--primary;
      }
      .pl-s3 {
        color: $color--info;
      }
      .pl-s1 {
        color: $color--error;
      }
      .pl-st {
        color: $color--orange;
      }
    }
    p {
      margin: 1.5em 0 0 0;
      max-width: em(440);
    }
    h1 {
      margin: em($base--num * 1.5, $font-size--1) 0 0 0;
    }
    h2 {
      margin: em($base--num * 1.5, $font-size--2) 0 0 0;
    }
    h3 {
      margin: em($base--num * 1.5, $font-size--3) 0 0 0;
    }
    h4 {
      margin: em($base--num * 1.5, $font-size--4) 0 0 0;
    }
    h5 {
      margin: em($base--num * 1.5, $font-size--5) 0 0 0;
    }
    h6 {
      margin: em($base--num * 1.5, $font-size--6) 0 0 0;
    }
    code {
      background-color: $color--gray--x-light;
      border-radius: 3px;
      color: $color--error;
      font-size: $font--1;
      line-height: 1.5;
      padding: 2px 8px;
      vertical-align: top;
    }
    .button.docButton {
      margin: 1em 0;
    }
  }
  #type {
    article {
      margin: 0;
    }
  }
  #grid-examples {
    margin-left: -16px;
    .grid {
      margin-bottom: 16px;
    }
    .grid__block {
      background: $color--gray--x-light;
      border-left: 16px solid white;
      min-height: 48px;
    }
  }
  //icons
  #icons {
    ul {
      text-align: center;
    }
    .icon--example {
      color: $text-color-deemphasized;
      display: inline-block;
      font-size: 24px;
      height: 24px;
      line-height: 24px;
      margin: 16px 0;
      text-align: center;
    }
    article {
      margin-top: 0;
    }
    .doc-article-heading {
      margin-top: 32px;
    }
  }
  //alerts
  #alerts {
    .alert.alert--active {
      margin-bottom: 1em;
    }
  }
  //cards
  #cards {
    .card-list {
      .card {
        margin-bottom: 8px;
      }
    }
  }
  .template-nav {
    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      display: none;
    }
  }
  .template-iframe {
    border: 0;
    width: 400%;
    -ms-zoom: 0.25;
    -ms-transform-origin: 0 0;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0px 25px;
    -o-transform: scale(0.25);
    -o-transform-origin: 0px 25px;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
    height: 400%;
    cursor: pointer;
  }
  .template-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  .template-list {
    li {
      @media (min-width: $brkpoint-md) {
        margin-bottom: 16px;
      }
    }
  }
  > .nav-bar .nav-bar__top{
    font-family: $font--2;
  }
}

//color swatches
.color-swatches {
  list-style-type: none;
  @include flexbox();
  @include flex-wrap(wrap);
  @for $i from 0 to length($primary-colors) {
    li:nth-child(#{$i + 1}) {
      background: nth($primary-colors, $i + 1);
      &:after {
        content: unquote('"' + nth($primary-colors, $i + 1) + '"');
      }
    }
  }
}
.color-swatch {
  box-shadow: inset -4px 0 0 0 $color--white, inset 4px 0 0 0 $color--white;
  height: 128px;
  margin-bottom: 8px;
  position: relative;
  @include flex(0 0 14.2857143%);
  &:after {
    background: $form-element-bg;
    box-shadow: inset -4px 0 0 0 $color--white, inset 4px 0 0 0 $color--white;
    display: block;
    height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
  }
}

.nav-bar__top .icon--jui-kit {
  font-size: 32px;
  line-height: 24px;
  color: rgba(255,255,255,.4);
  margin-right: 8px;
}

.article-feature {
  //text-align: center;
}

.article-icon {
  display: block!important;
  vertical-align: middle!important;
  text-align: center;
  font-size: 48px;
  line-height: 128px!important;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: $color--gray--x-light;
  color: $color--gray;
  margin: 0 auto 16px auto;
  + .doc-article-heading {
    color: $color--primary!important;
    text-align: center!important;
  }
}

.bs-nav {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  li a{
    line-height: 24px;
  }
  @media (min-width: $brkpoint-md) {
    margin-top: 64px;
    height: auto;
    overflow: auto;
    visibility: visible;
  }
}