.button.load-this {
  .button__icon {
    display: none;
  }
  .button__content {
    padding-right: 48px;
    position: relative;
    &:before {
      @extend .juicon-loading;
      @extend .juicon;
      animation: spin-it 1s linear infinite;
      height: 24px;
      line-height: 1.5;
      padding: 8px 16px;
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
    }
    &--default {
      &:before {
        color: $color--gray;
      }
    }
  }
}

.form-element.load-this {
  .form-element__wrap {
    &:before {
      @extend .juicon-loading;
      @extend .juicon;
      animation: spin-it 1s linear infinite;
      color: $color--gray;
      height: 24px;
      line-height: 1.5;
      padding: 8px 16px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 24px;
    }
  }
  .form-element__icon {
    display: none;
  }
}