/*
Button
<button type="button" class="button button--solid load-this button--default">
  <span class="button__content">Button</span>
</button>

Form element
<div class="form-element load-this">
	<div class="form-element__wrap">
		<div class="form-element__icon icon icon--search"></div>
		<input type="text" placeholder="Empty input text"/>
	</div>
</div>
*/

.button.load-this {
  .button__icon {
    display: none;
  }
  .button__content {
    padding-right: 48px;
    position: relative;
    &:before {
      @extend .icon--loading;
      @extend .icon;
      animation: spin-it 1s linear infinite;
      height: 24px;
      line-height: 1.5;
      padding: 8px 16px;
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
    }
    &--default {
      &:before {
        color: $color--gray;
      }
    }
  }
}

.form-element.load-this {
  .form-element__wrap {
    &:before {
      @extend .icon--loading;
      @extend .icon;
      animation: spin-it 1s linear infinite;
      color: $color--gray;
      height: 24px;
      line-height: 1.5;
      padding: 8px 16px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 24px;
    }
  }
  .form-element__icon {
    display: none;
  }
}