//mostly hiding and showing with js
//these selectors should be prefixed with "is"
.is-hidden {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: height $trans-duration, overflow $trans-duration;
}