@font-face {
  font-family: 'juicons';
  src:url('fonts/juicons/juicons.eot?-m8mnji');
  src:url('fonts/juicons/juicons.eot?#iefix-m8mnji') format('embedded-opentype'),
  url('fonts/juicons/juicons.ttf?-m8mnji') format('truetype'),
  url('fonts/juicons/juicons.svg?-m8mnji#juicons') format('svg'),
  url('fonts/juicons/juicons.woff?-m8mnji') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: $font--icon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  //vertical-align: middle;
  //min-height: 24px;
  line-height: 1.5;
  vertical-align: top;
  &:before {
    display: inline-block;
    vertical-align: top;
  }
}

.icon-alert:before {
  content: "\e600";
}

.icon-anatomy:before {
  content: "\e601";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-arrow-left:before {
  content: "\e603";
}

.icon-arrow-right:before {
  content: "\e604";
}

.icon-arrow-up:before {
  content: "\e605";
}

.icon-asterisk:before {
  content: "\e606";
}

.icon-ban:before {
  content: "\e607";
}

.icon-blocks:before {
  content: "\e608";
}

.icon-bookmark:before {
  content: "\e609";
}

.icon-browser:before {
  content: "\e60a";
}

.icon-calendar:before {
  content: "\e60b";
}

.icon-camera:before {
  content: "\e60c";
}

.icon-caret-down:before {
  content: "\e60d";
}

.icon-caret-left:before {
  content: "\e60e";
}

.icon-caret-right:before {
  content: "\e60f";
}

.icon-caret-up:before {
  content: "\e610";
}

.icon-case:before {
  content: "\e611";
}

.icon-chart-bar:before {
  content: "\e612";
}

.icon-chart-pie:before {
  content: "\e613";
}

.icon-chat:before {
  content: "\e614";
}

.icon-check-circle:before {
  content: "\e615";
}

.icon-check:before {
  content: "\e616";
}

.icon-chevron-down:before {
  content: "\e617";
}

.icon-chevron-left:before {
  content: "\e618";
}

.icon-chevron-right:before {
  content: "\e619";
}

.icon-chevron-up:before {
  content: "\e61a";
}

.icon-clipboard:before {
  content: "\e61b";
}

.icon-clock:before {
  content: "\e61c";
}

.icon-cloud:before {
  content: "\e61d";
}

.icon-contract:before {
  content: "\e61e";
}

.icon-dashboard:before {
  content: "\e61f";
}

.icon-database:before {
  content: "\e620";
}

.icon-dislike:before {
  content: "\e621";
}

.icon-document-code:before {
  content: "\e622";
}

.icon-document-misc:before {
  content: "\e623";
}

.icon-document:before {
  content: "\e624";
}

.icon-documents-group:before {
  content: "\e625";
}

.icon-documents:before {
  content: "\e626";
}

.icon-dots:before {
  content: "\e627";
}

.icon-download:before {
  content: "\e628";
}

.icon-dropbox:before {
  content: "\e629";
}

.icon-envelope-open:before {
  content: "\e62a";
}

.icon-envelope:before {
  content: "\e62b";
}

.icon-exclamation-circle:before {
  content: "\e62c";
}

.icon-exclamation:before {
  content: "\e62d";
}

.icon-expand:before {
  content: "\e62e";
}

.icon-eye:before {
  content: "\e62f";
}

.icon-facebook:before {
  content: "\e630";
}

.icon-flag:before {
  content: "\e631";
}

.icon-flip:before {
  content: "\e632";
}

.icon-funnel:before {
  content: "\e633";
}

.icon-gear:before {
  content: "\e634";
}

.icon-google-drive:before {
  content: "\e635";
}

.icon-google-plus:before {
  content: "\e636";
}

.icon-grid:before {
  content: "\e637";
}

.icon-group:before {
  content: "\e638";
}

.icon-heart:before {
  content: "\e639";
}

.icon-image:before {
  content: "\e63a";
}

.icon-info-circle:before {
  content: "\e63b";
}

.icon-info:before {
  content: "\e63c";
}

.icon-laptop:before {
  content: "\e63d";
}

.icon-like:before {
  content: "\e63e";
}

.icon-link:before {
  content: "\e63f";
}

.icon-linkedin:before {
  content: "\e640";
}

.icon-list:before {
  content: "\e641";
}

.icon-loading:before {
  content: "\e642";
}

.icon-location:before {
  content: "\e643";
}

.icon-lock:before {
  content: "\e644";
}

.icon-menu:before {
  content: "\e645";
}

.icon-minus-circle:before {
  content: "\e646";
}

.icon-minus:before {
  content: "\e647";
}

.icon-monitor:before {
  content: "\e648";
}

.icon-move-horizontal:before {
  content: "\e649";
}

.icon-move-vertical:before {
  content: "\e64a";
}

.icon-move:before {
  content: "\e64b";
}

.icon-network:before {
  content: "\e64c";
}

.icon-new-window:before {
  content: "\e64d";
}

.icon-paperclip:before {
  content: "\e64e";
}

.icon-pencil:before {
  content: "\e64f";
}

.icon-people:before {
  content: "\e650";
}

.icon-person-add:before {
  content: "\e651";
}

.icon-person:before {
  content: "\e652";
}

.icon-phone-smart:before {
  content: "\e653";
}

.icon-phone:before {
  content: "\e654";
}

.icon-pin:before {
  content: "\e655";
}

.icon-plus-circle:before {
  content: "\e656";
}

.icon-plus:before {
  content: "\e657";
}

.icon-print:before {
  content: "\e658";
}

.icon-question-circle:before {
  content: "\e659";
}

.icon-question:before {
  content: "\e65a";
}

.icon-refresh:before {
  content: "\e65b";
}

.icon-reload:before {
  content: "\e65c";
}

.icon-reply:before {
  content: "\e65d";
}

.icon-search:before {
  content: "\e65e";
}

.icon-share:before {
  content: "\e65f";
}

.icon-signin:before {
  content: "\e660";
}

.icon-signout:before {
  content: "\e661";
}

.icon-sliders:before {
  content: "\e662";
}

.icon-sort:before {
  content: "\e663";
}

.icon-star:before {
  content: "\e664";
}

.icon-stopwatch:before {
  content: "\e665";
}

.icon-tag:before {
  content: "\e666";
}

.icon-thumbs:before {
  content: "\e667";
}

.icon-trash:before {
  content: "\e668";
}

.icon-trophy:before {
  content: "\e669";
}

.icon-twitter:before {
  content: "\e66a";
}

.icon-upload:before {
  content: "\e66b";
}

.icon-usd:before {
  content: "\e66c";
}

.icon-wrench:before {
  content: "\e66d";
}

.icon-x-circle:before {
  content: "\e66e";
}

.icon-x:before {
  content: "\e66f";
}