@font-face {
  font-family: 'ProximaNovaSoft';
  src: url('./fonts/ProximaNovaSoft/proximanovasoft-regular-webfont-webfont.eot');
  src: url('./fonts/ProximaNovaSoft/proximanovasoft-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-regular-webfont-webfont.woff2') format('woff2'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-regular-webfont-webfont.woff') format('woff'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-regular-webfont-webfont.ttf') format('truetype'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-regular-webfont-webfont.svg#proxima_nova_softregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSoft';
  src: url('./fonts/ProximaNovaSoft/proximanovasoft-medium-webfont-webfont.eot');
  src: url('./fonts/ProximaNovaSoft/proximanovasoft-medium-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-medium-webfont-webfont.woff2') format('woff2'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-medium-webfont-webfont.woff') format('woff'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-medium-webfont-webfont.ttf') format('truetype'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-medium-webfont-webfont.svg#proxima_nova_softmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSoft';
  src: url('./fonts/ProximaNovaSoft/proximanovasoft-semibold-webfont-webfont.eot');
  src: url('./fonts/ProximaNovaSoft/proximanovasoft-semibold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-semibold-webfont-webfont.woff2') format('woff2'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-semibold-webfont-webfont.woff') format('woff'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-semibold-webfont-webfont.ttf') format('truetype'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-semibold-webfont-webfont.svg#proxima_nova_softsemibold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSoft';
  src: url('./fonts/ProximaNovaSoft/proximanovasoft-bold-webfont-webfont.eot');
  src: url('./fonts/ProximaNovaSoft/proximanovasoft-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-bold-webfont-webfont.woff2') format('woff2'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-bold-webfont-webfont.woff') format('woff'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-bold-webfont-webfont.ttf') format('truetype'),
  url('./fonts/ProximaNovaSoft/proximanovasoft-bold-webfont-webfont.svg#proxima_nova_softbold') format('svg');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova/proxima_nova_regular-webfont.eot');
  src: url('./fonts/ProximaNova/proxima_nova_thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNova/proxima_nova_regular-webfont.woff2') format('woff2'),
  url('./fonts/ProximaNova/proxima_nova_regular-webfont.woff') format('woff'),
  url('./fonts/ProximaNova/proxima_nova_regular-webfont.ttf') format('truetype'),
  url('./fonts/ProximaNova/proxima_nova_regular-webfont.svg#proxima_nova_thregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova/proxima_nova_semibold-webfont.eot');
  src: url('./fonts/ProximaNova/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNova/proxima_nova_semibold-webfont.woff2') format('woff2'),
  url('./fonts/ProximaNova/proxima_nova_semibold-webfont.woff') format('woff'),
  url('./fonts/ProximaNova/proxima_nova_semibold-webfont.ttf') format('truetype'),
  url('./fonts/ProximaNova/proxima_nova_semibold-webfont.svg#proxima_nova_rgsemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova/proxima_nova_bold-webfont.eot');
  src: url('./fonts/ProximaNova/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNova/proxima_nova_bold-webfont.woff2') format('woff2'),
  url('./fonts/ProximaNova/proxima_nova_bold-webfont.woff') format('woff'),
  url('./fonts/ProximaNova/proxima_nova_bold-webfont.ttf') format('truetype'),
  url('./fonts/ProximaNova/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/ProximaNova/proxima_nova_black-webfont.eot');
  src: url('./fonts/ProximaNova/proxima_nova_black-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ProximaNova/proxima_nova_black-webfont.woff2') format('woff2'),
  url('./fonts/ProximaNova/proxima_nova_black-webfont.woff') format('woff'),
  url('./fonts/ProximaNova/proxima_nova_black-webfont.ttf') format('truetype'),
  url('./fonts/ProximaNova/proxima_nova_black-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: 900;
  font-style: normal;
}