//use this is in sassmeister.com to generate what you need and copy and paste
//the values into color-variables and maps, while removing the unnecessary parts

$colors: (
  color--primary  : #388DE5,
  color--success  : #48cc92,
  color--error    : #cc554c,
  color--warning  : #efbb18,
  color--info     : #4accc2,
  color--black    : #4b4b4f,
  color--gray     : #a4a4a8,
);

$xx-light         : 27%;
$x-light          : 22%;
$light            : 10%;
$dark             : 5%;
$x-dark           : 10%;
$xx-dark          : 20%;

@mixin generate-colors($color, $name) {
  #{'$'+$name}--xx-light: lighten($color, $xx-light);
  #{'$'+$name}--x-light: lighten($color, $x-light);
  #{'$'+$name}--light: lighten($color, $light);
  #{'$'+$name}: $color;
  #{'$'+$name}--dark: darken($color, $dark);
  #{'$'+$name}--x-dark: darken($color, $x-dark);
  #{'$'+$name}--xx-dark: darken($color, $xx-dark)
}

@mixin generate-map($color, $name) {
  #{'$'+$name}--xx-light: remove;
  #{'$'+$name}--x-light: remove;
  #{'$'+$name}--light: remove;
  #{'$'+$name}: remove;
  #{'$'+$name}--dark: remove;
  #{'$'+$name}--x-dark: remove;
  #{'$'+$name}--xx-dark: remove;
}

variables {
  @each $theme, $color in $colors {
    @include generate-colors($color, $theme);
  }
}
map {
  @each $theme, $color in $colors {
    @include generate-map($color, $theme);
  }
}