//use this is in sassmeister.com to generate what you need and copy and paste
//the values into color-variables and maps, while removing the unnecessary parts

$color--blue      : #2a94d6;
$color--green     : #43b66a;
$color--red       : #c06057;
$color--orange    : #f39e58;
$color--gold      : #e6b739;
$color--turquoise : #47cfd2;

$primary-colors: (
        color--primary  : $color--blue,
        color--success  : $color--green,
        color--error    : $color--red,
        color--warning  : $color--gold,
        color--info     : $color--turquoise,
        color--black    : #384047,
        color--gray     : #aab3bc
);

$xx-light         : 27%;
$x-light          : 22%;
$light            : 10%;
$dark             : 5%;
$x-dark           : 10%;
$xx-dark          : 20%;

@mixin generate-colors($color, $name) {
  #{'$'+$name}--xx-light: lighten($color, $xx-light);
  #{'$'+$name}--x-light: lighten($color, $x-light);
  #{'$'+$name}--light: lighten($color, $light);
  #{'$'+$name}: $color;
  #{'$'+$name}--dark: darken($color, $dark);
  #{'$'+$name}--x-dark: darken($color, $x-dark);
  #{'$'+$name}--xx-dark: darken($color, $xx-dark)
}

@mixin generate-map($color, $name) {
  #{'$'+$name}--xx-light: remove;
  #{'$'+$name}--x-light: remove;
  #{'$'+$name}--light: remove;
  #{'$'+$name}: remove;
  #{'$'+$name}--dark: remove;
  #{'$'+$name}--x-dark: remove;
  #{'$'+$name}--xx-dark: remove;
}

primary-color-variables {
  @each $theme, $color in $primary-colors {
    @include generate-colors($color, $theme);
  }
}
primary-colors {
  @each $theme, $color in $primary-colors {
    @include generate-map($color, $theme);
  }
}