$color--blue      : #2a94d6;
$color--green     : #43b66a;
$color--red       : #c06057;
$color--orange    : #f39e58;
$color--gold      : #e6b739;
$color--turquoise : #47cfd2;

$color--primary--xx-light: #9dceec;
$color--primary--x-light: #88c3e8;
$color--primary--light: #55a9de;
$color--primary: #2a94d6;
$color--primary--dark: #2585c1;
$color--primary--x-dark: #2177ac;
$color--primary--xx-dark: #195981;
$color--success--xx-light: #a5deb8;
$color--success--x-light: #92d7aa;
$color--success--light: #66c686;
$color--success: #43b66a;
$color--success--dark: #3ca35f;
$color--success--x-dark: #359154;
$color--success--xx-dark: #286b3f;
$color--error--xx-light: #e6bfbb;
$color--error--x-light: #dfada9;
$color--error--light: #ce837c;
$color--error: #c06057;
$color--error--dark: #b84f45;
$color--error--x-dark: #a6473e;
$color--error--xx-dark: #813730;
$color--warning--xx-light: #f5e3b3;
$color--warning--x-light: #f3db9d;
$color--warning--light: #ecc766;
$color--warning: #e6b739;
$color--warning--dark: #e3af22;
$color--warning--x-dark: #d2a01a;
$color--warning--xx-dark: #a47d15;
$color--info--xx-light: #b6eced;
$color--info--x-light: #a1e7e8;
$color--info--light: #70dadc;
$color--info: #47cfd2;
$color--info--dark: #33cacd;
$color--info--x-dark: #2db6b9;
$color--info--xx-dark: #238d90;
$color--black--xx-light: #768593;
$color--black--x-light: #697986;
$color--black--light: #4e5a64;
$color--black: #384047;
$color--black--dark: #2d3339;
$color--black--x-dark: #22262a;
$color--black--xx-dark: #0b0d0e;
$color--gray--xx-light: #f7f8f9;
$color--gray--x-light: #e9ebed;
$color--gray--light: #c7ccd2;
$color--gray: #aab3bc;
$color--gray--dark: #9ca6b1;
$color--gray--x-dark: #8d99a6;
$color--gray--xx-dark: #71808f;

$text-color-emphasized: $color--black;
$text-color-normal: $color--black--x-light;
$text-color-deemphasized: $color--gray--x-dark;
$form-element-bg: $color--gray--x-light;
$component-border-color: lighten($color--gray, 17%);