//config contains all basic variables
//if you need a variable for a specific module, do not include it here, instead include it in the module

//font
$font--1:                 ProximaNovaSoft;
$font--icon:              juicons;

//space
$base--num:               16;

//font sizes
$font-size--1:            $base--num*2;
$font-size--2:            $base--num*1.5;
$font-size--3:            $base--num*1.25;
$font-size--4:            $base--num*1;
$font-size--5:            $base--num*.875;
$font-size--6:            $base--num*.75;

//font weights
$font-weight--1:          300;
$font-weight--2:          500;
$font-weight--3:          700;
$font-weight--4:          900;

//primary colors
$color--white:            white;
$color--black:            #384047;


$color--primary--xx-light: #aad4ef;
$color--primary--x-light: #80bfe6;
$color--primary--light: #55a9de;
$color--primary: #2a94d6;
$color--primary--dark: #2585c1;
$color--primary--x-dark: #2177ac;
$color--primary--xx-dark: #195981;
$color--success--xx-light: #b0e2c1;
$color--success--x-light: #8bd4a4;
$color--success--light: #66c686;
$color--success: #43b66a;
$color--success--dark: #3ca35f;
$color--success--x-dark: #359154;
$color--success--xx-dark: #286b3f;
$color--error--xx-light: #eac9c6;
$color--error--x-light: #dca6a1;
$color--error--light: #ce837c;
$color--error: #c06057;
$color--error--dark: #b84f45;
$color--error--x-dark: #a6473e;
$color--error--xx-dark: #813730;
$color--warning--xx-light: #f7e8c1;
$color--warning--x-light: #f1d894;
$color--warning--light: #ecc766;
$color--warning: #e6b739;
$color--warning--dark: #e3af22;
$color--warning--x-dark: #d2a01a;
$color--warning--xx-dark: #a47d15;
$color--info--xx-light: #c2eff0;
$color--info--x-light: #99e4e6;
$color--info--light: #70dadc;
$color--info: #47cfd2;
$color--info--dark: #33cacd;
$color--info--x-dark: #2db6b9;
$color--info--xx-dark: #238d90;

//ui colors for looping through and generating selectors
$ui-colors: (
  primary:                $color--primary,
  success:                $color--success,
  error:                  $color--error,
  warning:                $color--warning,
  info:                   $color--info
);

//secondary colors
$color--gray--xx-light:   #f5f6f7;
$color--gray--x-light:    #e8eaeb;
$color--gray--light:      #cfd0d2;
$color--gray:             #8d9aa5;
$color--gray--dark:       #686c70;
$color--gray--x-dark:     #525354;

// Component Variables
$component-border-color:  #dadee2;

//media queries
$brkpoint-xs:             1px;
$brkpoint-sm:             420px;
$brkpoint-md:             768px;
$brkpoint-lg:             1024px;

//grid stuff
$column-count:            12;

//decorative defaults
$base--radius:            3px;

//cursor interaction variables
$darken-p:          3%;
$lighten-p:         40%;