//config contains all basic variables
//if you need a variable for a specific module, do not include it here, instead include it in the module

//font
$font--1: ProximaNovaSoft;
$font--2: ProximaNova;
$font--icon: juicons;

//space
$base--num: 16;

//font sizes
$font-size--1: $base--num * 2;
$font-size--2: $base--num * 1.5;
$font-size--3: $base--num * 1.25;
$font-size--4: $base--num * 1;
$font-size--5: $base--num * 0.875;
$font-size--6: $base--num * 0.75;

//font weights
$font-weight--1: 400;
$font-weight--2: 500;
$font-weight--3: 700;
$font-weight--4: 900;

//primary colors
$color--white: white;
$color--black: #384047;

@import "color-variables";
@import "color-map";

$layout-space: (xs: $base--num/4, sm: $base--num/2, md: $base--num, lg: $base--num*2, xl: $base--num*4);
$layout-positions: (top, right, bottom, left);

//media queries
$brkpoint-xs: 1px;
$brkpoint-sm: 420px;
$brkpoint-md: 768px;
$brkpoint-lg: 1024px;

$media-size: (xs: $brkpoint-xs, sm: $brkpoint-sm, md: $brkpoint-md, lg: $brkpoint-lg);

//grid stuff
$column-count: 12;

//decorative defaults
$base--radius: 3px;

//cursor interaction variables
$darken-p: 3%;
$lighten-p: 40%;