//functions contains all basic functions

//converts numbers to em
@function em($target, $context: $base--num) {
  @return $target / $context + 0em;
  @if $target == 0 {
    @return 0;
  }
}

@function px($target) {
  @return $target + px;
}