//different image sizes and effects

$base--img-unit: 16;

.square {
  &--xsmall {
    height: px($base--img-unit * 1.5);
    width: px($base--img-unit * 1.5);
  }
  &--small {
    height: px($base--img-unit * 2);
    width: px($base--img-unit * 2);
  }
  &--medium {
    height: px($base--img-unit * 2.5);
    width: px($base--img-unit * 2.5);
  }
  &--large {
    height: px($base--img-unit * 3.5);
    width: px($base--img-unit * 3.5);
  }
}