$trans-duration: 0.33s;

@mixin transition($properties: all, $duration: $trans-duration, $easing: ease) {
  @if length($properties) > 1 {
    transition-duration: $duration;
    transition-property: $properties;
    transition-timing-function: $easing;
  }
  @else {
    transition: $properties $duration $easing;
  }
}