//mixins for flex grid can be found in the "mixins" scss file, since they might be used for things other than the main grid

/*
Grids can be arranged 2 different ways:



1) Add a "{n}-blocks" modifier to the "grid" and the children "grid__block" elements will all be affected.

(additional modifiers are available as well, such as "{n}-blocks-on-medium" and "grid--orient-vertical-on-small



<div class="grid grid--2-blocks">

    <div class="grid__block"></div>

    <div class="grid__block"></div>

</div>



2) Add a "{n}-block" modifier to each "grid__block" element inside of the "grid" element.

(additional modifiers are available as well, such as "{n}-block-on-medium"



<div class="grid">

    <div class="grid__block grid__block--6"></div>

    <div class="grid__block grid__block--6"></div>

</div>
*/

.flexbox {
  //this is a class put on HTML by Modernizr. Remove this scope if you don't care about IE
  //grid definitions
  .grid {
    @include flex-wrap(wrap);
    @include flexbox;
    &--gutters {
      margin-left: -(px($base--num))!important;
    }
    //define the width of grid blocks once on the grid itself
    @for $i from 1 through $column-count {
      &--#{$i}-blocks {
        > .grid__block {
          @include flex(0 0 percentage(1 / $i));
        }
        &-on-xsmall {
          > .grid__block {
            @media (min-width: $brkpoint-xs) {
              @include flex(0 0 percentage(1 / $i));
            }
          }
        }
        &-on-small {
          > .grid__block {
            @media (min-width: $brkpoint-sm) {
              @include flex(0 0 percentage(1 / $i));
            }
          }
        }
        &-on-medium {
          > .grid__block {
            @media (min-width: $brkpoint-md) {
              @include flex(0 0 percentage(1 / $i));
            }
          }
        }
        &-on-large {
          > .grid__block {
            @media (min-width: $brkpoint-lg) {
              @include flex(0 0 percentage(1 / $i));
            }
          }
        }
      }
    }
    //switch to vertical on certain sizes
    &--orient {
      &-vertical {
        @include flex-flow(column nowrap);
        &-on-xsmall {
          @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-sm) {
            @include flex-flow(column nowrap);
            > .grid__block {
              @include flex();
            }
          }
        }
        &-on-small {
          @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
            @include flex-flow(column nowrap);
            > .grid__block {
              @include flex();
            }
          }
        }
      }
    }
  }
  //grid block definitions
  [class*="grid__"] {
    @include flex;
    @include flexbox;
    @include flex-direction(column);
    position: relative;
  }
  .grid--gutters, .grid__block {
    > [class*="grid__"] {
      padding-left: px($base--num);
    }
  }
  // Generate Column Classes
  @for $i from 1 through $column-count {
    .grid__block--#{$i}-on-xsmall {
      @media (min-width: $brkpoint-xs) {
        @include flex(0 0 percentage($i / $column-count));
      }
    }
    .grid__block--#{$i}-on-small {
      @media (min-width: $brkpoint-sm) {
        @include flex(0 0 percentage($i / $column-count));
      }
    }
    .grid__block--#{$i}-on-medium {
      @media (min-width: $brkpoint-md) {
        @include flex(0 0 percentage($i / $column-count));
      }
    }
    .grid__block--#{$i}-on-large {
      @media (min-width: $brkpoint-lg) {
        @include flex(0 0 percentage($i / $column-count));
      }
    }
  }
  //special things rigid grid can't do
  .u-pinned {
    @include order(-1);
    &-on-xsmall {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-sm) {
        @include order(-1);
      }
    }
    &-on-small {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
        @include order(-1);
      }
    }
    &-on-medium {
      @media (min-width: $brkpoint-md) {
        @include order(-1);
      }
    }
    &-on-large {
      @media (min-width: $brkpoint-lg) {
        @include order(-1);
      }
    }
  }
  .u-shrink {
    flex: initial;
  }
}

.u-growing-children {
  > * {
    @include flex();
  }
}

//handling items when flex is applied
ul.grid {
  list-style-type: none;
  li {
    margin-left: 0;
  }
}