/*
Grids can be arranged 2 different ways:



1) Add a "{n}-blocks" modifier to the "grid" and the children "grid__block" elements will all be affected.

(additional modifiers are available as well, such as "{n}-blocks-on-medium" and "grid--orient-vertical-on-small



<div class="grid grid--2-blocks">

    <div class="grid__block"></div>

    <div class="grid__block"></div>

</div>



2) Add a "{n}-block" modifier to each "grid__block" element inside of the "grid" element.

(additional modifiers are available as well, such as "{n}-block-on-medium"



<div class="grid">

    <div class="grid__block grid__block--6"></div>

    <div class="grid__block grid__block--6"></div>

</div>
*/

.no-flexbox {
  //This is a class applied to HTML by Modernizr. This is a fallback if flexbox isn't detected.
  //grid definitions
  .grid {
    @include clearfix;
    display: block;
    min-height: 1px;
    &--gutters {
      margin-left: -(em(16));
    }
    //define the width of grid blocks once on the grid itself
    @for $i from 1 through $column-count {
      &--#{$i}-blocks {
        > .grid__block {
          float: left;
          width: percentage(1 / $i);
        }
        &-on-xsmall {
          > .grid__block {
            @media (min-width: $brkpoint-xs) {
              float: left;
              width: percentage(1 / $i);
            }
          }
        }
        &-on-small {
          > .grid__block {
            @media (min-width: $brkpoint-sm) {
              float: left;
              width: percentage(1 / $i);
            }
          }
        }
        &-on-medium {
          > .grid__block {
            @media (min-width: $brkpoint-md) {
              float: left;
              width: percentage(1 / $i);
            }
          }
        }
        &-on-large {
          > .grid__block {
            @media (min-width: $brkpoint-lg) {
              float: left;
              width: percentage(1 / $i);
            }
          }
        }
      }
    }
    //switch to vertical on certain sizes
    &--orient {
      &-vertical {
        @include flex-flow(column nowrap);
        &-on-xsmall {
          @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-sm) {
            @include flex-flow(column nowrap);
            > .grid__block {
              width: 100%;
            }
          }
        }
        &-on-small {
          @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
            @include flex-flow(column nowrap);
            > .grid__block {
              width: 100%;
            }
          }
        }
      }
    }
  }
  //grid block definitions
  [class*="grid__"] {
    display: block;
    min-height: 1px;
    position: relative;
  }
  .grid--gutters {
    > [class*="grid__"] {
      padding-left: px($base--num);
    }
  }
  // Generate Column Classes
  @for $i from $column-count through 1 {
    .grid__block--#{$i}-on-xsmall {
      @media (min-width: $brkpoint-xs) {
        float: left;
        width: percentage(($column-count + $i) / $column-count);
      }
    }
    .grid__block--#{$i}-on-small {
      @media (min-width: $brkpoint-sm) {
        float: left;
        width: percentage($i / $column-count);
      }
    }
    .grid__block--#{$i}-on-medium {
      @media (min-width: $brkpoint-md) {
        float: left;
        width: percentage($i / $column-count);
      }
    }
    .grid__block--#{$i}-on-large {
      @media (min-width: $brkpoint-lg) {
        float: left;
        width: percentage($i / $column-count);
      }
    }
  }
  //offset
  @for $i from 1 through $column-count {
    .offset--right--#{$i} {
      left: percentage($i / $column-count);
      @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
        left: auto;
      }
    }
    .offset--left--#{$i} {
      right: percentage($i / $column-count);
      @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
        right: auto;
      }
    }
  }
}