@mixin generate-space($type, $only: null) {
  @if $only == null {
    @each $size, $value in $layout-space {
      &-#{$size}-#{$type} {
        #{$type}: em($value);
      }
      @each $media-size, $media-value in $media-size {
        @media (min-width: $media-value){
          &-#{$size}-#{$type}-for-#{$media-size} {
            #{$type}: em($value);
          }
        }
      }
      @each $position in $layout-positions {
        &-#{$size}-#{$type}-on-#{$position} {
          #{$type}-#{$position}: em($value);
        }
        @each $media-size, $media-value in $media-size {
          @media (min-width: $media-value){
            &-#{$size}-#{$type}-on-#{$position}-for-#{$media-size} {
              #{$type}-#{$position}: em($value);
            }
          }
        }
      }

    }
  } @else {
    //xs
    &-xs-#{$type}-for-xs-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-sm) {
        #{$type}: px(map-get($layout-space, xs));
      }
    }
    &-xs-#{$type}-on-top-for-xs-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-sm) {
        #{$type}-top: px(map-get($layout-space, xs));
      }
    }
    &-xs-#{$type}-on-right-for-xs-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-sm) {
        #{$type}-right: px(map-get($layout-space, xs));
      }
    }
    &-xs-#{$type}-on-bottom-for-xs-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-sm) {
        #{$type}-bottom: px(map-get($layout-space, xs));
      }
    }
    &-xs-#{$type}-on-left-for-xs-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-sm) {
        #{$type}-left: px(map-get($layout-space, xs));
      }
    }
    //sm
    &-sm-#{$type}-for-sm-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
        #{$type}: px(map-get($layout-space, sm));
      }
    }
    &-sm-#{$type}-on-top-for-sm-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
        #{$type}-top: px(map-get($layout-space, sm));
      }
    }
    &-sm-#{$type}-on-right-for-sm-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
        #{$type}-right: px(map-get($layout-space, sm));
      }
    }
    &-sm-#{$type}-on-bottom-for-sm-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
        #{$type}-bottom: px(map-get($layout-space, sm));
      }
    }
    &-sm-#{$type}-on-left-for-sm-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
        #{$type}-left: px(map-get($layout-space, sm));
      }
    }
    //md
    &-md-#{$type}-for-md-only {
      @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
        #{$type}: px(map-get($layout-space, md));
      }
    }
    &-md-#{$type}-on-top-for-md-only {
      @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
        #{$type}-top: px(map-get($layout-space, md));
      }
    }
    &-md-#{$type}-on-right-for-md-only {
      @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
        #{$type}-right: px(map-get($layout-space, md));
      }
    }
    &-md-#{$type}-on-bottom-for-md-only {
      @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
        #{$type}-bottom: px(map-get($layout-space, md));
      }
    }
    &-md-#{$type}-on-left-for-md-only {
      @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
        #{$type}-left: px(map-get($layout-space, md));
      }
    }
  }
}

.has {
  @include generate-space(margin);
  @include generate-space(margin, true);
  @include generate-space(padding);
  @include generate-space(padding, true);
}

//give grid bottom margin to separate rows
.separate {
  > .grid > [class*="grid__block"], > [class*="grid__block"] {
    margin-bottom: 1em;
  }
  &-on-small {
    @media (min-width: $brkpoint-sm) {
      > .grid > [class*="grid__block"], > [class*="grid__block"] {
        margin-bottom: 1em;
      }
    }
  }
  &-on-medium {
    @media (min-width: $brkpoint-md) {
      > .grid > [class*="grid__block"], > [class*="grid__block"] {
        margin-bottom: 1em;
      }
    }
  }
}