<!DOCTYPE html>
<html class="no-js">
<head>
    <title>JUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../css/docs.css"/><!--takes place of styles.scss for docs-->
    <link rel="stylesheet" href="../css/styles-scoped.css"/>
    <script src="../js/modernizr.js"></script><!--detect if browser supports stuff like flexbox-->
    <!--<link rel="stylesheet" href="http://basehold.it/8">-->
</head>
<body>
<div class="scope-container">
    <nav class="nav-bar nav-bar--default">
        <div class="constrained constrained--default">
            <div class="nav-bar__menu-toggle">
                <span class="icon icon-menu"></span>
            </div>
            <div class="nav-bar__top">
                JUI
            </div>
            <ul class="nav-bar__list nav-bar__list--right">
                <li class="nav-bar__list-item">
                    <a href="../">Bathroom Sink</a>
                </li>
                <li class="nav-bar__list-item nav-bar__list-item--active">
                    <a href="templates.html">Templates</a>
                </li>
            </ul>
        </div>
        <div class="nav-bar__appendage">
            <div class="constrained constrained--default">
                <div class="grid has-gutters nav-bar__appendage--inner">
                    <div class="grid__block">
                        <div class="form-element">
                            <textarea placeholder="Textareas are fun"></textarea>
                            <small class="form-element__error">Your typing is puny. Pump it up.</small>
                        </div>
                    </div>
                    <div class="grid__block">
                        <div class="form-element">
                            <input type="email" placeholder="Enter email"/>
                            <small class="form-element__error">Your password isn't manly enough.</small>
                        </div>
                        <div class="form-element">
                            <input type="email" placeholder="Enter email"/>
                            <small class="form-element__error">Your password isn't manly enough.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <header id="templates-header" class="doc-page-header">
        <div class="constrained constrained--default">
            <h1 class="doc-page-heading">Templates</h1>
            <h2 class="doc-page-subheading">Some solid pages we dumped out</h2>
        </div>
    </header>
    <div id="docs" class="has-md-padding-for-md">
        <div class="constrained constrained--default">
            <ul class="card-list card-list--collapse-on-small-only template-list grid has-gutters orient--vertical-on-small holds-3-blocks-on-medium">
                <li class="grid__block">
                    <div class="card card--outlined" >
                        <a href="template__add-conditions.html" class="template-link"></a>
                        <span class="card__feature">
                            <iframe class="template-iframe" src="template__add-conditions.html" scrolling="no" height="128px"></iframe>
                        </span>
                        <span class="card__body">
                            <span class="card__content">
                                <span class="card__heading">Add blocks</span>
                            </span>
                        </span>
                    </div>
                </li>
                <li class="grid__block">
                    <div class="card card--outlined" >
                        <a href="template__dashboard.html" class="template-link"></a>
                        <span class="card__feature">
                            <iframe class="template-iframe" src="template__dashboard.html" scrolling="no" height="128px"></iframe>
                        </span>
                        <span class="card__body">
                            <span class="card__content">
                                <span class="card__heading">Dashboard</span>
                            </span>
                        </span>
                    </div>
                </li>
                <li class="grid__block">
                    <div class="card card--outlined" >
                        <a href="template__page-bar.html" class="template-link"></a>
                        <span class="card__feature">
                            <iframe class="template-iframe" src="template__page-bar.html" scrolling="no" height="128px"></iframe>
                        </span>
                        <span class="card__body">
                            <span class="card__content">
                                <span class="card__heading">Page bar</span>
                            </span>
                        </span>
                    </div>
                </li>
                <li class="grid__block">
                    <div class="card card--outlined" >
                        <a href="template__setup-tabs.html" class="template-link"></a>
                        <span class="card__feature">
                            <iframe class="template-iframe" src="template__setup-tabs.html" scrolling="no" height="128px"></iframe>
                        </span>
                        <span class="card__body">
                            <span class="card__content">
                                <span class="card__heading">Setup tabs</span>
                            </span>
                        </span>
                    </div>
                </li>
                <li class="grid__block">
                    <div class="card card--outlined" >
                        <a href="template__sign-in.html" class="template-link"></a>
                        <span class="card__feature">
                            <iframe class="template-iframe" src="template__sign-in.html" scrolling="no" height="128px"></iframe>
                        </span>
                        <span class="card__body">
                            <span class="card__content">
                                <span class="card__heading">Sign in</span>
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript" src="../lib/selectize/selectize.js"></script>
<script type="text/javascript" src="../lib/tooltipster-master/js/jquery.tooltipster.js"></script>
<script type="text/javascript" src="../lib/moment/moment.js"></script>
<script type="text/javascript" src="../lib/datepicker/js/datepicker.js"></script>
<script type="text/javascript" src="../lib/daterangepicker/js/daterangepicker.js"></script>
<script type="text/javascript" src="../lib/slider/slider.js"></script>
<script type="text/javascript" src="../js/app.js"></script>

<script type="text/javascript">
    //tooltips
    $(document).ready(function() {
        $('.tooltip').tooltipster({
        });
        $('#htmlTooltip').tooltipster({
            interactive: true,
            position: 'bottom-left',
            content: $('<div style="max-width: 300px">You can have users read something and then click a button or something!<br/><br/><button type="button" class="button"><span class="button__content primary">Like this!</span></button></div>')
        });
    });
    //datepicker
    $('.launch-datepicker').datepicker()
            .on('changeDate', function(ev){
                $('.launch-datepicker').datepicker('hide');
            });
    //daterange
    $('.launch-daterange').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()]
                },
                opens: 'left'
            }
    );
    //slider
    $('.slider').slider();

    //iframe bs

    $(document).ready(function() {
        $('body').on('click', '.template-iframe', function(){
            console.log('poop');
            $(this).closest('a').click();
        })
    });


</script>
</body>
</html>