<!DOCTYPE html>
<html class="no-js doc-bg-transparent">
<head>
    <title>JUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--testing salesforce scope-->
    <link class="user" href="https://c.na16.visual.force.com/sCSS/32.0/sprites/1420068168000/Theme3/default/gc/elements.css" rel="stylesheet" type="text/css">
    <link class="user" href="https://c.na16.visual.force.com/sCSS/32.0/sprites/1420068168000/Theme3/default/gc/common.css" rel="stylesheet" type="text/css">
    <link class="user" href="https://c.na16.visual.force.com/sCSS/32.0/sprites/1418663684000/Theme3/gc/dStandard.css" rel="stylesheet" type="text/css">
    <link class="user" href="https://c.na16.visual.force.com/sCSS/32.0/sprites/1421252858000/Theme3/00Dj0000001ohFY/005j000000BPBWj/gc/dCustom0.css" rel="stylesheet" type="text/css">
    <link class="user" href="https://c.na16.visual.force.com/sCSS/32.0/sprites/1420068168000/Theme3/default/gc/extended.css" rel="stylesheet" type="text/css">
    <link class="user" href="https://c.na16.visual.force.com/sCSS/32.0/sprites/1420068168000/Theme3/default/gc/setup.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/styles-scoped.css"/>
    <link rel="stylesheet" href="../css/docs.css"/><!--takes place of styles.scss for docs-->
    <script src="../js/modernizr.js"></script><!--detect if browser supports stuff like flexbox-->
    <!--<link rel="stylesheet" href="http://basehold.it/8">-->
</head>
<body>
<div class="scope-container">
    <div class="constrained constrained--large has-md-padding">
        <!--template-->

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript" src="../lib/selectize/selectize.js"></script>
<script type="text/javascript" src="../lib/tooltipster-master/js/jquery.tooltipster.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script>
    $(function() {
        $('#select-thing').selectize({

        });
    });
</script>
</body>
</html>