<!DOCTYPE html>
<html class="no-js">
<head>
    <title>JUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../css/docs.css"/><!--takes place of styles.scss for docs-->
    <link rel="stylesheet" href="../css/styles-scoped.css"/>
    <script src="../js/modernizr.js"></script><!--detect if browser supports stuff like flexbox-->
    <!--<link rel="stylesheet" href="http://basehold.it/8">-->
</head>
<body>
<div class="scope-container">
    <div class="constrained constrained--default has-md-padding-for-md">
        <!--template-->
        <div class="grid has-gutters orient--vertical-on-small">
            <aside class="grid__block--4-on-medium">
                <ul class="list list--collapse-on-small-only" id="setupNav">
                    <li class="list__item list__item--active">
                        <a href="#setup" class="list__item-link">
                            <span class="list__item-icon icon icon-flag"></span>
                            <span class="list__item-content">Setup</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#key" class="list__item-link">
                            <span class="list__item-icon icon icon-lock"></span>
                            <span class="list__item-content">API Key</span>
                        </a>
                    </li>
                    <li class="list__item active">
                        <a href="#messages" class="list__item-link">
                            <span class="list__item-icon icon icon-chat"></span>
                            <span class="list__item-content">Messages</span>
                            <span class="list__item-alert">
                            <span class="list__item-alert-content list__item-alert-content--error">
                                2
                            </span>
                        </span>
                        </a>
                    </li>
                </ul>
            </aside>
            <div class="grid__block--8-on-medium">
                <section id="setup" class="">
                    <div class="slate slate--outlined slate--collapse-on-small-only">
                        <div class="slate__top slate__top--outlined">
                            <div class="slate__top-main">
                                <div class="slate__title">
                                    <span class="icon icon-flag"></span>Setup
                                </div>
                            </div>
                        </div>
                        <div class="slate__block slate__block--outlined slate__block--has-no-bottom-pad">
                            <ul class="form-list">
                                <li class="form-element">
                                    <div class="form-element__wrap">
                                        <div class="form-element__icon icon icon-person"></div>
                                        <input type="text" placeholder="User name"/>
                                    </div>
                                </li>
                                <li class="form-element">
                                    <div class="form-element__wrap">
                                        <div class="form-element__icon icon icon-lock"></div>
                                        <input type="text" placeholder="Password"/>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="slate__bottom slate__bottom--outlined">
                            <div class="slate__bottom-main">
                                <button class="button button--solid">
                                    <span class="button__content button__content--primary">
                                        <span class="button__text">
                                            Save
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="key" class="hide">
                    <div class="alert alert--warning alert--dismissable alert--active">
                        <button type="button" class="alert__close-button icon icon-x"></button>
                        Connection not established.
                    </div>
                    <div class="slate slate--outlined slate--collapse-on-small-only">
                        <div class="slate__top slate__top--outlined">
                            <div class="slate__top-main">
                                <div class="slate__title">
                                    <span class="icon icon-lock"></span>API Key
                                </div>
                            </div>
                        </div>
                        <div class="slate__block slate__block--outlined slate__block--has-no-bottom-pad">
                            <ul class="form-list">
                                <li class="form-element">
                                    <div class="form-element__wrap">
                                        <div class="form-element__icon icon icon-lock"></div>
                                        <input type="text" placeholder="API Key"/>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="slate__bottom slate__bottom--outlined">
                            <div class="slate__bottom-main">
                                <button class="button button--solid">
                                    <span class="button__content button__content--primary">
                                        <span class="button__text">
                                            Save
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="messages" class="hide">
                    <div class="slate slate--outlined slate--collapse-on-small-only">
                        <div class="slate__top slate__top--outlined">
                            <div class="slate__top-main">
                                <div class="slate__title">
                                    <span class="icon icon-chat"></span>Messages
                                </div>
                            </div>
                        </div>
                        <ul class="card-list card-list--collapse">
                            <li class="card card--outlined">
                                <span class="card__body">
                                    <span class="card__cap card__cap--img">
                                        <img src="https://lh5.googleusercontent.com/-s0OGtO75hrs/AAAAAAAAAAI/AAAAAAAAAAA/72W0rg_MwqQ/s192-c/photo.jpg"/>
                                    </span>
                                    <span class="card__content">
                                        <span class="card__heading">Jake Fleming</span>
                                        <span class="card__subheading">2h ago</span>
                                    </span>
                                </span>
                                <span class="card__block">
                                    Hey guys, Can you supply me with the API Key? Thanks!
                                </span>
                            </li>
                            <li class="card card--outlined">
                                <span class="card__body">
                                    <span class="card__cap card__cap--img">
                                        <img src="https://lh5.googleusercontent.com/-s0OGtO75hrs/AAAAAAAAAAI/AAAAAAAAAAA/72W0rg_MwqQ/s192-c/photo.jpg"/>
                                    </span>
                                    <span class="card__content">
                                        <span class="card__heading">Jake Fleming</span>
                                        <span class="card__subheading">Yesterday</span>
                                    </span>
                                </span>
                                <span class="card__block">
                                    Almost got everything setup! Whoo!
                                </span>
                            </li>
                        </ul>
                        <div class="slate__bottom slate__bottom--outlined">
                            <div class="slate__bottom-control">
                                <button class="button button--solid">
                                    <span class="button__content button__content--primary">
                                        <span class="button__text">
                                            Save
                                        </span>
                                    </span>
                                </button>
                            </div>
                            <div class="slate__bottom-main">
                                <input type="text" placeholder="Type a message"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript" src="../lib/selectize/selectize.js"></script>
<script type="text/javascript" src="../lib/tooltipster-master/js/jquery.tooltipster.js"></script>
<script type="text/javascript" src="../js/jui-app.js"></script>
<script>
    $(function() {
        $('#select-thing').selectize({

        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('body').on('click', '#setupNav > li > a', function(event) {
            console.log('test');
            event.preventDefault();//stop browser to take action for clicked anchor

            //get displaying tab content jQuery selector
            var active_tab_selector = $('#setupNav > li.list__item--active > a').attr('href');

            //hide displaying tab content
            $(active_tab_selector).removeClass('list__item--active');
            $(active_tab_selector).addClass('hide');

            //find active navigation and remove 'active' css
            var actived_nav = $('#setupNav > li.list__item--active');
            actived_nav.removeClass('list__item--active');

            //add 'active' css into clicked navigation
            $(this).parents('li').addClass('list__item--active');

            var target_tab_selector = $(this).attr('href');
            $(target_tab_selector).removeClass('hide');
        })

    });
</script>
</body>
</html>