<!DOCTYPE html>
<html class="no-js">
<head>
    <title>JUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../css/docs.css"/><!--takes place of styles.scss for docs-->
    <link rel="stylesheet" href="../css/styles-scoped.css"/>
    <script src="../js/modernizr.js"></script><!--detect if browser supports stuff like flexbox-->
    <!--<link rel="stylesheet" href="http://basehold.it/8">-->
</head>
<body>
<div class="scope-container">
    <div class="constrained constrained--x-small u-md-padding">
        <!--template-->
        <div class="slate slate--outlined">
            <div class="slate__top slate__top--outlined">
                <div class="slate__top-main">
                    <div class="slate__title">
                        Sign in
                    </div>
                </div>
            </div>
            <form action="#">
                <div class="slate__block slate__block--no-bottom-pad">
                    <div class="form-element">
                        <div class="form-element__wrap">
                            <div class="form-element__icon icon icon--person"></div>
                            <input id="userName" type="text" placeholder="User name"/>
                            <span class="form-element__error-text">Error Text</span>
                        </div>
                    </div>
                    <div class="form-element">
                        <div class="form-element__wrap">
                            <div class="form-element__icon icon icon--lock"></div>
                            <input id="password" type="password" placeholder="Password"/>
                            <span class="form-element__error-text">Error Text</span>
                        </div>
                    </div>
                    <div class="form-element">
                        <label class="input-size">
                            <input type="checkbox" checked/> Remember me
                        </label>
                    </div>
                </div>
                <div class="slate__bottom slate__bottom--outlined">
                    <div class="slate__bottom-control">
                        <button type="submit" class="button button--solid button--primary">
                            <span class="button__content">
                                <span class="button__text">Sign in</span>
                                <span class="button__icon icon icon--arrow-right"></span>
                            </span>
                        </button>
                    </div>
                    <div class="slate__bottom-main">
                        <button type="button" class="button button--flat button--primary">
                            <span class="button__content">
                                <span class="button__text">Create account</span>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript" src="../lib/selectize/selectize.js"></script>
<script type="text/javascript" src="../lib/tooltipster-master/js/jquery.tooltipster.js"></script>
<script type="text/javascript" src="../js/jui-app.js"></script>
<script>
    $(function() {
        $('#select-thing').selectize({

        });

        var $password = $('#password');

        //hide hints
        $('form .form-element__error-text').hide();

        function passwordEvent(){
            //find out if password is valid
            if($(this).val().length > 8) {
                //hide hint if valid
                $(this).next().hide();
            } else {
                //else show hint
                $(this).next().show();
            }
        }

        //When event happens on password input
        $('#password').focus(passwordEvent).keyup(passwordEvent);


    });
</script>
</body>
</html>
