<!DOCTYPE html>
<html class="no-js">
<head>
    <title>JUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../css/docs.css"/><!--takes place of styles.scss for docs-->
    <link rel="stylesheet" href="../css/styles-scoped.css"/>
    <script src="../js/modernizr.js"></script><!--detect if browser supports stuff like flexbox-->
    <!--<link rel="stylesheet" href="http://basehold.it/8">-->
</head>
<body>

<div class="scope-container">
    <div id="docs" class="u-md-padding">
        <div class="constrained default">
            <div class="slate slate--outlined">
                <div class="slate__block  slate__block--outlined slate__block--removable slate__block--no-bottom-pad">
                    <button type="button" class="slate__block-close-button"><span class="icon icon--trash"></span></button>
                    <div class="grid grid--orient-vertical-on-small grid--gutters">
                        <div class="grid__block grid__block--4-on-medium">
                            <div class="form-element">
                                <label class="form-element__label srt-only">Typeahead Select</label>
                                <div class="input-group">
                                    <div class="input-group__element">
                                        <select id="select-thing2">
                                            <option value="">Search...</option>
                                            <option value="opt1">Option 1</option>
                                            <option value="opt2">Option 2</option>
                                            <option value="opt3">Option 3</option>
                                        </select>
                                    </div>
                                    <div class="input-group__action">
                                        <button type="button" class="button button--solid button--default">
                                            <span class="button__content"><span class="button__icon icon icon--search"></span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__block grid__block--4-on-medium">
                            <div class="form-element">
                                <label class="form-element__label srt-only">Select</label>
                                <div class="select-element">
                                    <div class="select-element__icon icon icon--caret-down"></div>
                                    <select>
                                        <option>derp</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="grid__block grid__block--4-on-medium">
                            <div class="form-element">
                                <label class="form-element__label srt-only">Select</label>
                                <div class="select-element">
                                    <div class="select-element__icon icon icon--caret-down"></div>
                                    <select>
                                        <option>derp</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slate__block  slate__block--outlined slate__block--removable slate__block--no-bottom-pad">
                    <button type="button" class="slate__block-close-button"><span class="icon icon--trash"></span></button>
                    <div class="grid grid--orient-vertical-on-small grid--gutters">
                        <div class="grid__block grid__block--4-on-medium">
                            <div class="form-element">
                                <label class="form-element__label srt-only">Typeahead Select</label>
                                <div class="input-group">
                                    <div class="input-group__element">
                                        <select id="select-thing2">
                                            <option value="">Search...</option>
                                            <option value="opt1">Option 1</option>
                                            <option value="opt2">Option 2</option>
                                            <option value="opt3">Option 3</option>
                                        </select>
                                    </div>
                                    <div class="input-group__action">
                                        <button type="button" class="button button--solid button--default">
                                            <span class="button__content"><span class="button__icon icon icon--search"></span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__block grid__block--4-on-medium">
                            <div class="form-element">
                                <label class="form-element__label srt-only">Select</label>
                                <div class="select-element">
                                    <div class="select-element__icon icon icon--caret-down"></div>
                                    <select>
                                        <option>derp</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="grid__block grid__block--4-on-medium">
                            <div class="form-element">
                                <label class="form-element__label srt-only">Select</label>
                                <div class="select-element">
                                    <div class="select-element__icon icon icon--caret-down"></div>
                                    <select>
                                        <option>derp</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slate__block  slate__block--outlined slate__block--removable slate__block--no-bottom-pad">
                    <button type="button" class="slate__block-close-button"><span class="icon icon--trash"></span></button>
                    <div class="grid grid--orient-vertical-on-small grid--gutters">
                        <div class="grid__block grid__block--4-on-medium">
                            <div class="form-element">
                                <label class="form-element__label srt-only">Typeahead Select</label>
                                <div class="input-group">
                                    <div class="input-group__element">
                                        <select id="select-thing2">
                                            <option value="">Search...</option>
                                            <option value="opt1">Option 1</option>
                                            <option value="opt2">Option 2</option>
                                            <option value="opt3">Option 3</option>
                                        </select>
                                    </div>
                                    <div class="input-group__action">
                                        <button type="button" class="button button--solid button--default">
                                            <span class="button__content"><span class="button__icon icon icon--search"></span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__block grid__block--4-on-medium">
                            <div class="form-element">
                                <label class="form-element__label srt-only">Select</label>
                                <div class="select-element">
                                    <div class="select-element__icon icon icon--caret-down"></div>
                                    <select>
                                        <option>derp</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="grid__block grid__block--4-on-medium">
                            <div class="form-element">
                                <label class="form-element__label srt-only">Select</label>
                                <div class="select-element">
                                    <div class="select-element__icon icon icon--caret-down"></div>
                                    <select>
                                        <option>derp</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slate__block  slate__block--outlined slate__block--removable">
                    <button type="button" class="button button--solid button--primary">
                        <span class="button__content">
                            <span class="button__text">Add block</span>
                            <span class="button__icon icon icon--plus"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript" src="../lib/selectize/selectize.js"></script>
<script type="text/javascript" src="../lib/tooltipster-master/js/jquery.tooltipster.js"></script>
<script type="text/javascript" src="../js/jui-app.js"></script>
<script>
    $(function() {
        $('#select-thing, #select-thing2, #select-thing3').selectize({

        });
    });
</script>
</body>
</html>