//Alerts grab the user's attention, whether its to point out a general error, or to provide passive inactionable content

/*
(possible alert modifiers [active, dismissable, primary, success, error, warning, info])
<div class="alert alert--active alert--dismissable alert--success">
	<button type="button" class="alert__close-button icon icon--x"></button>
	Something pretty cool just happened
</div>
*/

.alert {
  border-radius: $base--radius;
  font-family: $font--1;
  line-height: 1.5;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 em($base--num);
  position: relative;
  transition: $trans-duration;
  //creating all the alert colors by looping through the ui-colors map
  @each $theme, $color in $ui-colors {
    &--#{$theme} {
      background-color: lighten($color, $lighten-p);
      border-color: $color;
      color: $color;
      .alert__close-button {
        color: $color;
      }
    }
  }
  //the button that contains the 'x'
  &__close-button {
    @extend %close-button;
    background-image: none;
    // fixes salesforce button
    background: transparent;
    border-width: 0;
    height: em(56);
    margin: 0;
    opacity: .4;
    outline: none;
    padding: em($base--num / 2) em($base--num);
    position: absolute;
    right: 0;
    top: 0;
    transition: $trans-duration;
    width: em(56);
    &:hover {
      opacity: 1;
      transition: $trans-duration;
    }
  }
  //needs this class to be visible
  &--active {
    max-height: none;
    min-height: em(56);
    opacity: 1;
    padding: em($base--num);
    transition: $trans-duration;
    //if the alert has an 'x' add padding to the right
    &.alert--dismissable {
      padding-right: em(56);
    }
    + * {
      margin-top: 1em;
    }
  }
}