$nav-default-bg: $color--white;
$nav-default-text: $text-color-emphasized;

//nav-bars
.nav-bar {
  @include clearfix;
  min-height: em(56);
  // The part that is visible always
  &__top {
    @include clearfix;
    font-weight: $font-weight--1;
    height: em(56);
    line-height: 1.5;
    padding: 1em;
    @media (min-width: $brkpoint-md) {
      float: left;
    }
  }
  // A list of items like links
  &__list {
    list-style-type: none;
    margin: 0;
    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      max-height: 0;
      min-width: 100%;
      opacity: 0;
      overflow: hidden;
      transition: $trans-duration;
    }
    //a list on the right
    &--right {
      @media (min-width: $brkpoint-md+1) {
        float: right;
      }
    }
    //a list on the left
    &--left {
      @media (min-width: $brkpoint-md+1) {
        float: left;
      }
    }
    //a list item
    &-item {
      font-weight: $font-weight--1;
      margin: 0;
      position: relative;
      //on medium screens stack up left
      @media (min-width: $brkpoint-md+1) {
        float: left;
      }
      //on small screens make the dropdown menu part of the list instead of floating outside of it
      .button-group {
        @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
          width: 100%;
          .button {
            width: 100%;
            text-align: left;
          }
          .dropdown-box {
            border: 0;
            border-radius: 0;
            box-shadow: inset 0 0 0 1px $component-border-color;
            position: static;
            .dropdown-box__item {
              &:hover {
                box-shadow: inset 1px 0 $component-border-color, inset -1px 0 $component-border-color;
                transition: background $trans-duration;
              }
            }
            li:first-child {
              .dropdown-box__item {
                &:hover {
                  box-shadow: inset 0 1px $component-border-color, inset 1px 0 $component-border-color, inset -1px 0 $component-border-color;
                }
              }
            }
            li:last-child {
              .dropdown-box__item {
                &:hover {
                  box-shadow: inset 0 -1px $component-border-color, inset 1px 0 $component-border-color, inset -1px 0 $component-border-color;
                }
              }
            }
          }
        }
      }
      //links inside of items
      > a {
        cursor: pointer;
        display: block;
        line-height: 1.5;
        min-width: em(56);
        padding: 1em;
        @media (min-width: $brkpoint-md+1) {
          text-align: center;
        }
        //links that are also buttons
        &.button {
          background: transparent;
          border-radius: 0;
          border: 0;
          color: inherit;
        }
      }
      //hovering over list items
      &:hover {
        > a, > .button-group {
          @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
            background-color: $form-element-bg;
            color: $color--gray;
            transition: background $trans-duration;
          }
        }
      }
      //active states of list items
      &--active, &--active:hover {
        > *, > a {
          background-color: $component-border-color;
          color: $color--gray--dark;
        }
      }
      //buttons inside the nav
      .button {
        padding: .5em 0;
        .button__content {
          background: transparent;
          box-shadow: none;
          color: $nav-default-text;
          line-height: 1;
          padding: 0 1em;
          vertical-align: top;
          .button__text + .button__icon {
            margin-left: 0;
          }
          .button__text, .button__icon, .button__icon:before {
            line-height: 1.25;
            vertical-align: middle;
          }
        }
      }
      //adjust the position of the dropdown box to be directly over the button in the nav
      .dropdown-box--active {
        margin-top: 0;
        @media (min-width: $brkpoint-md+1) {
          margin-top: em(8);
        }
      }
      &-icon {
        line-height: 24px;
        width: 24px;
        margin: 0 4px;
      }
    }
  }
  //the button you click to show and hide the contents of the nav on smaller screens
  &__menu-toggle {
    cursor: pointer;
    display: none;
    float: right;
    font-size: em(32);
    height: em(56, 32);
    line-height: em(56, 32);
    text-align: center;
    width: em(56, 32);
    .icon {
      line-height: inherit;
    }
    //shows the menu-toggle button on small screens
    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      display: block;
    }
  }
  //when the menu is opened, show the nav lists
  &.menu-is-open .nav-bar__list {
    display: block;
    max-height: em(500);
    min-height: 0;
    min-width: 100%;
    opacity: 100;
    transition: $trans-duration
  }
  //hidden pieces called 'appendages' can contain anything
  &__appendage {
    @include clearfix;
    clear: both;
    margin-top: 0px;
    max-height: 0;
    min-width: 100%;
    opacity: 0;
    overflow: hidden;
    padding: 0 1em;
    transition: $trans-duration;
    &-inner {
      padding-top: 1em;
    }
  }
  //button to open appendage
  &__appendage-toggle {
    line-height: 1.5 !important;
    .icon {
      height: 24px;
      line-height: 24px;
      transition: $trans-duration;
      vertical-align: top;
      width: 24px;
      @media (min-width: $brkpoint-md) {
        text-align: center;
      }
      &:before {
        height: 24px;
        text-align: center;
        width: 24px;
      }
    }
  }
  //open up the appendage
  &.appendage-is-open {
    .nav-bar__appendage {
      background-color: $color--gray--xx-light;
      display: block;
      max-height: em(500);
      min-height: 0;
      min-width: 100%;
      opacity: 100;
      transition: $trans-duration;
      //inputs bg
      textarea, input {
        background: $color--white;
      }
      //button that closes the appendage
      &-toggle {
        .icon {
          background: rgba(255,255,255,.1);
          border-radius: 1000px;
          box-shadow: 0 0 0 4px rgba(255,255,255,.1);
          transform: rotate(360deg);
          transition: $trans-duration;
        }
      }
    }
  }
  //Default white navbar properties
  &--default {
    background: $nav-default-bg;
    box-shadow: 0 1px 0 $component-border-color;
    &.outlined {
      box-shadow: inset 0 0 0 1px $component-border-color;
      .nav-bar__appendage {
        box-shadow: inset -1px 0 0 $component-border-color, inset 1px 0 0 $component-border-color;
      }
    }
    .nav-bar__list-item {
      > a {
        color: $nav-default-text;
        &.nav-bar__appendage-toggle {
          color: $nav-default-text;
        }
      }
    }
    &.appendage-is-open {
      .nav-bar__appendage {
        //button that closes the appendage
        &-toggle {
          .icon {
            background: $color--gray--xx-light;
            border-radius: 1000px;
            box-shadow: 0 0 0 4px $color--gray--xx-light;
          }
        }
      }
    }
    .nav-bar__top {
      color: $nav-default-text;
    }
  }
  //Primary colored navbar
  &--primary {
    background: $color--primary;
    .nav-bar__list-item {
      color: $color--white;
      .button__content {
        color: inherit;
      }
      > a {
        background: transparent;
        color: $color--white;
        &.nav-bar__appendage-toggle {
          color: $color--white;
        }
      }
      .nav-bar__list-item {
        @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
          background-color: transparent;
          &:hover {
            background-color: $color--primary--dark;
          }
        }
      }
    }
    &.appendage-is-open {
      .nav-bar__appendage {
        background-color: $color--primary--dark;
        //button that closes the appendage
        &-toggle {
          .icon {
            background: rgba(255,255,255,.1);
            border-radius: 1000px;
            box-shadow: 0 0 0 4px rgba(255,255,255,.1);
          }
        }
      }
    }
    .nav-bar__menu-toggle {
      color: $color--white;
    }
    .nav-bar__top {
      color: $color--white;
    }
    .nav-bar__appendage {
      background: $color--primary--x-dark;
    }
    .nav-bar__list-item {
      &:hover {
        > a, > .button-group {
          @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
            background-color: $color--primary--dark;
            color: $color--white;
            transition: background $trans-duration;
          }
        }
      }
    }
  }
}