//nav-bars
.nav-bar {
  @include clearfix;
  background: $color--white;
  margin-bottom: 1em;
  min-height: em(56);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $color--gray--x-light;
  // The part that never hides
  &__top {
    @include clearfix;
    font-weight: $font-weight--1;
    padding: 1em;
    height: em(56);
    line-height: 1.5;
    @media (min-width: $brkpoint-md+1) {
      float: left;
    }
  }
  // A list of items
  &__list {
    list-style-type: none;
    margin: 0;
    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      display: none;
      .menu--open & {
        display: block;
      }
    }
    &--right {
      @extend .nav-bar__list;
      @media (min-width: $brkpoint-md+1) {
        float: right;
      }
    }
    &--left {
      @extend .nav-bar__list;
      @media (min-width: $brkpoint-md+1) {
        float: left;
      }
    }
    &__item {
      margin: 0;
      position: relative;
      font-weight: $font-weight--1;
      @media (min-width: $brkpoint-md+1) {
        float: left;
      }
      > a {
        display: block;
        cursor: pointer;
        color: $color--gray--dark;
        padding: 1em;
        line-height: 1.5;
        min-width: em(56);
        @media (min-width: $brkpoint-md) {
          text-align: center;
        }
        @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
          background-color: $color--gray--xx-light;
        }
        &.button {
          border-radius: 0;
          background: transparent;
          border: 0;
          color: inherit;
        }
      }
      &:hover {
        > a {
          @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
            background-color: $color--gray--xx-light;
            color: $color--gray;
          }
        }
      }
      &.active, &:hover.active {
        > *, > a {
          background-color: $color--gray--x-light;
          color: $color--gray--dark;
        }
      }
      .button {
        padding: 1em 0;
        .button__content {
          box-shadow: none;
          background: transparent;
          color: $color--gray--dark;
          padding: 0 1em;
          line-height: 1.5;
          .button__text + .button__icon {
            margin-left: 0;
          }
        }
      }
      .dropdown-box.active {
        margin-top: em(8);
      }
    }
  }
  &__appendage {
    @include clearfix;
    clear: both;
    padding: 0 1em;
    margin-top: 0px;
    min-width: 100%;
    max-height: 0;
    opacity: 0;
    transition: $trans-duration;
    &--inner {
      padding-top: 1em;
    }
  }
  &.appendage--open {
    .nav-bar__appendage {
      display: block;
      background-color: #f0f1f2;
      min-width: 100%;
      margin-top: 2px;
      max-height: em(500);
      min-height: 0;
      opacity: 100;
      transition: $trans-duration;
    }
    .nav-bar__appendage-toggle {
      color: $color--black;
      transition: $trans-duration;
    }
  }

  // Meant for use other than (stuck to) the top of the page
  &--solo {
    @extend .nav-bar;
    background-color: $color--gray--xx-light;
    border-width: 0;
    .nav-bar__list {
      &__item {
        > *, > a {
        }
      }
    }
  }
  &__menu-toggle {
    cursor: pointer;
    float: right;
    display: none;
    font-size: em(32);
    height: em(56, 32);
    line-height: em(52, 32);
    width: em(56, 32);
    text-align: center;

    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      display: block;
    }
  }
  .content {
    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      padding: 0;
    }
  }
  &.appendage--open {
    .nav-bar__appendage-toggle {
      .juicon {
        transform: rotate(360deg);
        transition: $trans-duration;
      }
    }
  }
  &__appendage-toggle {

    .juicon {
      width: 24px;
      height: 24px;
      line-height: 24px;
      transition: $trans-duration;
      @media (min-width: $brkpoint-md) {
        text-align: center;
      }
      &:before {
        width: 24px;
        height: 24px;
        text-align: center;
      }
    }
  }
}

.appendage--open {
  .nav-bar__appendage {
    display: block
  }
}

.menu--open {
  .nav-bar__list {
    display: block;
  }
}

@at-root {
  .flexbox {
    .nav-bar, .nav-bar--solo {
      > * {
        @include flex();
      }
      .nav-bar__top {
        @include flex(initial)
      }
    }
    .nav-bar__list--right, .nav-bar__list--left {
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(flex-end);
      > * {
        @include flex(initial);
      }
    }
  }
}


.green {
  x-light-color: #e8f8f1;
  light-color: #98e2c2;
  normal-color: #48CC92;
  dark-color: #37c486;
  darker-color: #26885d;
}

.red {
  x-light-color: #f9eceb;
  light-color: #e3a09b;
  normal-color: #CC554C;
  dark-color: #c64238;
  darker-color: #8b2e27;
}

.yellow {
  x-light-color: #fcf3d7;
  light-color: #f6d777;
  normal-color: #EFBB18;
  dark-color: #deac0f;
  darker-color: #97750a;
}

.turq {
  x-light-color: #e9f9f8;
  light-color: #9ae2dd;
  normal-color: #4ACCC2;
  dark-color: #38c5ba;
  darker-color: #278982;
}

.black {
  x-light-color: #b1b1b5;
  light-color: #7d7d83;
  normal-color: #4B4B4F;
  dark-color: #3f3f42;
  darker-color: #19191b;
}

.gray {
  x-light-color: white;
  light-color: #e5e5e7;
  normal-color: #b1b1b5;
  dark-color: #a4a4a9;
  darker-color: #7d7d83;
}
