$nav-default-bg: $color--white;
$nav-default-text: $color--gray--dark;


//nav-bars
.nav-bar {
  @include clearfix;
  min-height: em(56);
  // The part that never hides
  &__top {
    @include clearfix;
    font-weight: $font-weight--1;
    padding: 1em;
    height: em(56);
    line-height: 1.5;
    @media (min-width: $brkpoint-md) {
      float: left;
    }
  }
  .constrained {
    .nav-bar__top {
      @media (min-width: $brkpoint-md) {
        padding: 1em 0;
      }
    }
    .nav-bar__list--right {
      .nav-bar__list__item {
        &:last-child {
          > a, > * {
            padding-right: 0;
          }
        }
      }
    }
  }
  &.menu--open .nav-bar__list {
    display: block;
    min-width: 100%;
    max-height: em(500);
    min-height: 0;
    opacity: 100;
    transition: $trans-duration;
  }
  // A list of items
  &__list {
    list-style-type: none;
    margin: 0;
    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      min-width: 100%;
      max-height: 0;
      opacity: 0;
      transition: $trans-duration;
      overflow: hidden;
    }
    &--right {
      @extend .nav-bar__list;
      @media (min-width: $brkpoint-md) {
        float: right;
      }
    }
    &--left {
      @extend .nav-bar__list;
      @media (min-width: $brkpoint-md) {
        float: left;
      }
    }
    &__item {
      margin: 0;
      position: relative;
      font-weight: $font-weight--1;
      @media (min-width: $brkpoint-md) {
        float: left;
      }
      .button-group {
        @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
          width: 100%;
          .dropdown-box {
            position: static;
          }
        }
      }
      > a {
        display: block;
        cursor: pointer;
        padding: 1em;
        line-height: 1.5;
        min-width: em(56);
        @media (min-width: $brkpoint-md) {
          text-align: center;
        }
        &.button {
          border-radius: 0;
          background: transparent;
          border: 0;
          color: inherit;
        }
      }
      &:hover {
        > a {
          @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
            background-color: $color--gray--xx-light;
            color: $color--gray;
          }
        }
      }
      &.active, &:hover.active {
        > *, > a {
          background-color: $color--gray--x-light;
          color: $color--gray--dark;
        }
      }
      .button {
        padding: 1em 0;
        .button__content {
          box-shadow: none;
          background: transparent;
          color: $color--gray--dark;
          padding: 0 1em;
          line-height: 1;
          vertical-align: top;
          .button__text + .button__icon {
            margin-left: 0;
          }
          .button__text, .button__icon, .button__icon:before {
            vertical-align: middle;
            line-height: 1.25;
          }
        }
      }
      .dropdown-box.active {
        margin-top: em(8);
      }
    }
  }
  &__appendage {
    @include clearfix;
    clear: both;
    padding: 0 1em;
    margin-top: 0px;
    min-width: 100%;
    max-height: 0;
    opacity: 0;
    transition: $trans-duration;
    overflow: hidden;
    &--inner {
      padding-top: 1em;
    }
  }
  &.appendage--open {
    .nav-bar__appendage {
      display: block;
      background-color: #f0f1f2;
      min-width: 100%;
      max-height: em(500);
      min-height: 0;
      opacity: 100;
      transition: $trans-duration;
    }
    .nav-bar__appendage-toggle {
      color: $color--black;
      transition: $trans-duration;
    }
  }

  // Meant for use other than (stuck to) the top of the page
  &--solo {
    @extend .nav-bar;
    background-color: $color--gray--xx-light;
    border-width: 0;
    .nav-bar__list {
      &__item {
        > *, > a {
        }
      }
    }
  }
  &__menu-toggle {
    cursor: pointer;
    float: right;
    display: none;
    font-size: em(32);
    height: em(56, 32);
    line-height: em(52, 32);
    width: em(56, 32);
    text-align: center;

    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      display: block;
    }
  }
  .content {
    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      padding: 0;
    }
  }
  &.appendage--open {
    .nav-bar__appendage-toggle {
      .juicon {
        transform: rotate(360deg);
        transition: $trans-duration;
      }
    }
  }
  &__appendage-toggle {
    line-height: 1!important;
    .juicon {
      width: 24px;
      height: 24px;
      line-height: 24px;
      transition: $trans-duration;
      @media (min-width: $brkpoint-md) {
        text-align: center;
      }
      &:before {
        width: 24px;
        height: 24px;
        text-align: center;
      }
    }
  }
}

.appendage--open {
  .nav-bar__appendage {
    display: block
  }
}

.menu--open {
  .nav-bar__list {
    display: block;
  }
}

@at-root {
  .flexbox {
    @media (min-width: $brkpoint-md) {
      .nav-bar, .nav-bar--solo {
        > * {
          @include flex();
        }
        .nav-bar__top {
          @include flex(initial)
        }
      }
      .nav-bar__list--right, .nav-bar__list--left {
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(flex-end);
        > * {
          @include flex(initial);
        }
      }
    }
  }
}


.nav-bar {
  &.default {
    background: $nav-default-bg;
    box-shadow: 0 1px 0 $component-border-color;
    &.outlined {
      box-shadow: inset 0 0 0 1px $component-border-color;
    }
    .nav-bar__list__item {
      > a {
        color: $nav-default-text;
        &.nav-bar__appendage-toggle {
          color: $nav-default-text;
        }
      }
    }
    .nav-bar__top {
      color: $nav-default-text;
    }
  }
  &.primary {
    background: $color--primary;
    .nav-bar__list__item {
      color: $color--white;
      .button__content {
        color: inherit;
      }
      > a {
        color: $color--white;
        &.nav-bar__appendage-toggle {
          color: $color--white;
        }
        background: transparent;
      }
      .nav-bar__list__item {
        @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
          background-color: transparent;
          &:hover {
            background-color: $color--primary--dark;
          }
        }
      }
    }
    .nav-bar__menu-toggle {
      color: $color--white;
    }
    .nav-bar__top {
      color: $color--white;
    }
    .nav-bar__appendage {
      background: $color--primary--x-dark;
      textarea, input {
        background: $color--white;
      }
    }
  }
}