//Buttons are what the user will interact with to perform actions

//attributes shared by all buttons
%button-core {
  background-image: none; // fixes salesforce button
  background: transparent;
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: $font--1;
  font-size: px($base--num); // 16
  font-weight: $font-weight--1;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

//attributes shared by all button contents
%button__content-core {
  @include transition(background-color);
  border-radius: $base--radius;
  display: inline-block;
  line-height: em(40);
  padding: 0 1em;
  vertical-align: middle;
}

//extending core placeholders to different button types
.button, a.button, button.button {
  @extend %button-core;
}

//styling the contents of the button by extending the content__core
.button__content {
  @extend %button__content-core;
}

//defining flat buttons
.button--flat {
  //what's inside the button
  .button__content {
    color: $color--black;
    &--default {
      .icon {
        color: $color--gray;
      }
    }
    @each $theme, $color in $ui-colors {
      &--#{$theme} {
        color: $color;
      }
    }
  }
  //hover over button makes contents background change
  &:hover {
    .button__content {
      background-color: transparentize($color--black, 0.9);
    }
  }
}

//defining default solid buttons
.button--solid {
  .button__content.button__content--default {
    background-color: $color--white;
    box-shadow: inset 0 0 0 1px $component-border-color;
    color: $color--black;
    .icon {
      color: $color--gray;
    }
  }
  &:hover {
    .button__content.button__content--default {
      background-color: darken($color--white, $darken-p);
    }
  }
}

//defining colored solid buttons
.button--solid {
  //what's inside the button
  @each $theme, $color in $ui-colors {
    .button__content {
      color: $color--white;
      &--#{$theme} {
        background-color: $color;
      }
    }
    //hover over button makes contents background change
    &:hover {
      .button__content {
        &--#{$theme} {
          background-color: darken($color, $darken-p);
        }
      }
    }
  }
}

//button width
.button, .button--flat {
  &.stretch {
    width: 100%;
    .button__content {
      width: 100%;
    }
  }
}

//icons & text inside of buttons
.button__text + .button__icon, .button__icon + .button__text {
  margin-left: em(8);
}

.button__icon {
  display: inline-block;
  height: em(40);
  line-height: 1.5;
  padding: 8px 0;
  vertical-align: top;
  width: em(24);
}

.button__text {
  display: inline-block;
  line-height: 1.5;
  padding: 8px 0;
  vertical-align: top;
}

//button groups
.button-group {
  display: inline-block;
  position: relative;
}

//dropdown boxes (menu)
.dropdown-box {
  background: $color--white;
  //border: 1px solid $component-border-color;
  box-shadow: 0 1px 3px transparentize($color--black, .6);
  list-style-type: none;
  margin-top: 0px;
  max-height: 0;
  max-width: px(240);
  min-width: 100.01%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: $trans-duration;
  li {
    margin-left: 0; //scope fix
  }
  //when the box is open
  &--active {
    -webkit-overflow-scrolling: touch; //for mobile
    max-height: px(300);
    max-width: px(240);
    min-height: 0;
    min-width: 100.01%;
    opacity: 100;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: $trans-duration;
    z-index: 1;
    //items when the box is open
    .dropdown-box__item {
      color: $color--gray--dark;
      margin-top: 0;
      transition: $trans-duration;
    }
    .dropdown-box__content {
      line-height: 1.5;
      margin-top: 0;
      transition: $trans-duration;
      p {
        line-height: 1.5;
      }
    }
  }
  //an item in the box
  &__item {
    color: $color--white;
    cursor: pointer;
    display: block;
    font-family: $font--1;
    font-size: px($base--num);
    line-height: em(40);
    margin-left: 0;
    margin-top: -16px;
    outline: none;
    overflow: hidden;
    padding: 0 em(16);
    text-overflow: ellipsis;
    transition: $trans-duration;
    vertical-align: middle;
    white-space: nowrap;
    @include clearfix();
    &:hover {
      background-color: darken($color--white, $darken-p);
      color: $color--gray--dark;
    }
    &-icon {
      float: right;
      line-height: 40px;
      margin-left: 16px;
    }
  }
  //this is an item that doesn't close the dropdown when you click it
  &__item--static {
    &:hover {
      background: transparent;
    }
    input {
      vertical-align: middle;
    }
    input[type="checkbox"], input[type="radio"] {
      margin-right: em(4);
      vertical-align: middle;
    }
  }
  //a container for any sort of content
  &__content {
    color: $color--gray--dark;
    font-family: $font--1;
    line-height: 0;
    margin-top: -16px;
    padding: em(16);
    transition: $trans-duration;
    p {
      line-height: 0;
    }
    .form-element {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  //put stuff inside of blocks to separate them inside of the content div
  &__block {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  //if the dropdown box has a close button, give the content div a margin on the top to account for it.
  .dropdown-box__close-button + .dropdown-box__content {
    margin-top: 15px;
  }
  //close button for dropdowns
  &__close-button {
    @extend %close-button;
    background-image: none;
    // fixes salesforce button
    background: transparent;
    border-width: 0;
    color: $color--gray;
    height: 40px;
    outline: none;
    padding: 8px 16px;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 56px;
  }
}

//button groups can contain multiple buttons for a long strip of buttons, or creating split buttons, and also dropdowns
.button-group {
  font-size: 0;
  vertical-align: top;
  .button {
    font-size: 16px;
    .button__content {
      border-radius: 0;
    }
    &:first-of-type {
      margin-left: 0;
      .button__content {
        border-bottom-left-radius: $base--radius;
        border-top-left-radius: $base--radius;
      }
    }
    &:last-of-type {
      .button__content {
        border-bottom-right-radius: $base--radius;
        border-top-right-radius: $base--radius;
      }
    }
  }
  .dropdown-box {
    border-radius: $base--radius;
    font-size: 16px;
  }
}

.button--split {
  @each $theme, $color in $ui-colors {
    .button__content {
      &--#{$theme} {
        box-shadow: inset 1px 0 darken($color, 5%);
      }
    }
  }
}

//this stuff must be at the root of the css file for scoping reasons
@at-root {
  .flexbox {
    .button-group {
      &.stretch {
        @include flexbox;
        .button {
          @include flex;
          .button__content {
            width: 100%;
          }
        }
      }
    }
  }
  .no-flexbox {
    .button-group {
      &.stretch {
        border-collapse: separate;
        display: table;
        table-layout: fixed;
        width: 100%;
        .button {
          display: table-cell;
          float: none;
          width: 1%;
          .button__content {
            width: 100%;
          }
        }
      }
    }
  }
}
//general styles used across the app for the various close buttons
%close-button {
  @extend %button-core;
  font-family: $font--icon !important;
}