//Callouts are prompts the user needs to acknowledge or interact with to accomplish an action. They take up the majority of the viewing area.

//the container for the modal to sit in
.callout-stage {
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  left: 0;
  opacity: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(0, 200%, 0);
  transition: all $trans-duration cubic-bezier(0.5, -0.25, 0.19, 1.25);
  z-index: 1050;
}
//the callout itself
.callout {
  background: $color--white;
  max-height: 0;
  transition: all $trans-duration cubic-bezier(0.5, -0.25, 0.19, 1.25);
  //on small screens the callout will take up the whole screen
  @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-sm) {
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    left: 0;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
  }
  @media (min-width: $brkpoint-sm) {
    border-radius: $base--radius;
  }
  @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
    margin: em(24) auto;
    width: em(396);
  }
  @media (min-width: $brkpoint-md) {
    margin: em(40) auto;
    width: em(480);
  }
}
//the container for the heading and close button
.callout__top {
  padding: 1.5em 3em 0 1.5em;
  position: relative;
  .callout__close-button {
    @extend %close-button;
    color: $text-color-deemphasized;
    font-size: 20px;
    line-height: 64px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: 64px;
    .icon {
      line-height: 64px;
    }
  }
}
//the title of the callout
.callout__heading {
  color: $text-color-emphasized;
  display: inline-block;
  font-size: em($font-size--2);
  line-height: 32px;
}
//the main content of the modal
.callout__content {
  line-height: 1.5;
  padding: 1.5em;
}
//place actionable items here (save, cancel)
.callout__bottom {
  padding: 0 1.5em 1.5em 1.5em;
  text-align: right;
  &.flat {
    padding: 0 .5em .5em .5em;
  }
}
//when the callout is active the body must have these properties
//these items must be at the root for scoping purposes
@at-root .callout-is-active {
  overflow: hidden;
  .callout-backdrop {
    background-color: transparentize($color--black, 0.2);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: $trans-duration cubic-bezier(0.44, 0, 0.68, 1);
    z-index: 1020;
  }
}
//when the callout is active the stage will get these properties
.callout-stage.callout-is-active {
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(0, 0, 0);
  transition: all $trans-duration cubic-bezier(0.5, -0.25, 0.19, 1.25);
  .callout {
    box-shadow: 0 1px 6px transparentize($color--black, .1);
    max-height: none;
    transition: all $trans-duration cubic-bezier(0.5, -0.25, 0.19, 1.25);
  }
}

//transitions
.fade-in {
  opacity: 1 !important;
  transition: $trans-duration;
}

.fade-out {
  opacity: 0 !important;
  transition: $trans-duration;
}