//Cards should be used in conjunction with other cards. Usually not by themselves.

//A list of cards
.card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin-left: 0;
  }
  //collapses the card list
  &--collapse {
    .card {
      border-radius: 0;
      border-top-width: 0;
      margin: 0 !important;
      &--outlined {
        box-shadow: inset 0 1px $component-border-color, inset 1px 0 $component-border-color, inset -1px 0 $component-border-color;
        &:first-child {
          box-shadow: 0 -1px $component-border-color, inset 1px 0 $component-border-color, inset -1px 0 $component-border-color;
        }
      }
    }
    &-on-small-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
        .card {
          border-radius: 0;
          border-top-width: 0;
          margin: 0 !important;
          &:first-child {
            border-top-width: 1px;
          }
        }
      }
    }
  }
}

//cards
.card {
  background-color: $color--white;
  border-radius: $base--radius;
  box-shadow: none;
  display: block;
  font-family: $font--1;
  font-size: 1em;
  line-height: 1.5;
  overflow: hidden;
  transition: $trans-duration;
  transition: background-color $trans-duration;
  &--outlined {
    box-shadow: inset 0 0 0 1px $component-border-color;
  }
  //on hover give a 3D effect of the card raising
  &--actionable:hover {
    @media (min-width: $brkpoint-md) {
      border-color: $color--white;
      box-shadow: 0 1px 3px transparentize($color--black, 0.6)!important;
      cursor: pointer;
      transform: translateY(-2px);
      transition: $trans-duration;
    }
  }
  //main div for content that allows for certain items to stack up to each other
  &__body {
    border-collapse: separate;
    display: table;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
    + .card__block {
      padding-top: 0px;
    }
  }
  //a general block level div to contain content
  &__block {
    display: block;
    padding: 1em;
    + .card__body {
      padding-top: 1px;
    }
  }
  //the main content inside of the body
  &__content {
    display: table-cell;
    line-height: 1.5;
    overflow: hidden;
    padding: 1em;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }
  //a piece like an image or icon that caps the left or right side of the card
  &__cap {
    color: $color--gray;
    display: table-cell;
    line-height: 1.5;
    padding: 1em;
    text-align: center;
    vertical-align: top;
    width: 3.5em;
    + .card__content {
      padding-left: 0;
    }
    //give the cap a background color
    &--solid {
      background-position: center center !important;
      background-size: cover !important;
      background: $color--primary;
      color: $color--white;
      vertical-align: middle;
      + .card__content {
        padding-left: em(16);
      }
    }
    //give the cap an img
    &--img {
      line-height: 0;
      width: 4em;
      + .card__content {
        padding-left: 0;
      }
      img {
        border-radius: $base--radius;
        height: em(32);
        width: em(32);
      }
    }
    //give the cap an icon
    &--icon {
      width: 4em;
      &.card__cap--solid {
        background: transparent;
        vertical-align: top;
        .icon {
          background-color: $color--primary;
        }
      }
      .icon {
        border-radius: $base--radius;
        height: em(32);
        line-height: 2;
        width: em(32);
      }
      + .card__content {
        padding-left: 0;
      }
    }
  }
  //a thumbnail like feature to a card. can have a background image or icon or both
  &__feature {
    background-position: center center !important;
    background-size: cover !important;
    display: block;
    font-size: em(32);
    height: em(128, 32);
    line-height: em(128, 32);
    text-align: center;
    vertical-align: middle;
    //give the feature a background color
    &--solid {
      background-color: $color--primary;
      color: $color--white;
    }
    //give the feature an icon
    .icon {
      vertical-align: middle;
    }
  }
  //a general heading for a card
  &__heading {
    color: $color--black;
    display: block;
    line-height: 1;
  }
  //a general subheading for a card
  &__subheading {
    color: $color--gray;
    display: block;
    font-size: em(14);
    line-height: em(16, 14);
  }
  //removes the height restriction from a card
  &--multi-line {
    .card__content {
      white-space: normal;
    }
  }
}