//constraints are max-widths for content

.constrained {
  margin: 0 auto;
  &--x-large {
    max-width: em(1200);
  }
  &--large {
    max-width: em(1000);
  }
  &--default {
    max-width: em(768);
  }
  &--small {
    max-width: em(600);
  }
  &--x-small {
    max-width: em(400);
  }
}