//Forms are used to collect data from users
$form-element-bg: #e8eaeb;


//form elements
.form-element {
  padding-bottom: em(16);
  position: relative;
}

//labels for form elements
.form-element {
  label {
    color: $color--gray--dark;
    display: block;
    font-size: em(14);
    font-family: $font--1;
    line-height: em(24, 14);
  }
}

//inputs: text, password, tel, number, email, search, url
%form-element-base {
  display: block;
  font-size: 1em;
  font-family: $font--1;
  font-weight: 100;
  color: $color--gray--dark;
  width: 100%;
  border: 1px solid $component-border-color;
  background-color: $form-element-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  outline: none;
  padding: em(8) em(8);
  @include transition(background-color);
  @include radius();
  &:focus {
    background-color: $color--white;
  }
  &:-moz-placeholder {
    color: $color--gray;
  }
  &::-moz-placeholder {
    color: $color--gray;
    opacity: 1!important;
  }
  &:-ms-input-placeholder {
    color: $color--gray;
  }
  &::-webkit-input-placeholder {
    color: $color--gray;
  }
}
input {
  &[type="text"], &[type="password"], &[type="tel"], &[type="number"], &[type="email"], &[type="search"], &[type="url"]{
    @extend %form-element-base;
    height: em(36); // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    -webkit-appearance: none;
    margin: em(2) 0;
  }
  // Change the white to any color ;)
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color--white inset;
  }
}


//textareas
textarea {
  @extend %form-element-base;
  resize: vertical;
  height: em(92);
  margin: em(2) 0;
  appearance: none;
  box-shadow: none;
}

//input groups
//general attributes for input groups
.input-group {
  position: relative;
  > .input-group__element input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
  > .input-group__action .button__content {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@at-root {
  //with flexbox
  .flexbox {
    .input-group {
      @include flexbox();
      &__element {
        @include flex();
      }
      &__action {
        @include flex(initial);
      }
    }
  }

  //without flexbox | not quite the same. We use display: table, display: table-cell.
  .no-flexbox {
    .input-group {
      border-collapse: separate;
      display: table;
      @include clearfix;
      &__element {
        display: table-cell;
        width: 100%;
      }
      &__action {
        display: table-cell;
        width: 1%;
        vertical-align: middle;
        .button, .button__content {
          width: 100%;
        }
      }
    }
  }
}

//form element icons
.form-element__wrap {
  position: relative;
  &.has-icon input {
    padding-right: em(52);
  }
}
.form-element__icon {
  color: $color--gray;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: em(8) em(8);
  z-index: 0;
  width: em(52);
  height: em(34);
  text-align: center;
  line-height: 1.25;
}

//selects
.select-wrap {
  @include radius();
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: $component-border-color;
  background-color: $color--white;
  margin: em(2) 0;
  &:hover {
    background-color: darken($color--white, 10%);
  }
  .select-wrap__icon {
    color: $color--gray;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: em(8) em(8);
    z-index: 0;
    cursor: pointer;
    width: em(52);
    height: em(34);
    text-align: center;
    line-height: 1.25;
  }
  select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: none;
    outline: none;
    cursor: pointer;
    padding-left: em(8);
    padding-right: em(52);
    margin: 0px;
    width: 100%;
    height: em(34);
    background: transparent;
    font-family: $font--1;
    font-weight: $font-weight--1;
    font-size: 1rem;
    color: $color--gray--dark;
    z-index: 1;
    position: relative;
    border: 0;
    -moz-appearance: progresschunk;
    &::-ms-expand {
      display: none;
    }
    &::-moz-focus-inner {
      border: 0;
    }
  }
}

// Checkboxes and Radios

input[type=checkbox], input[type=radio] {
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: solid;
  border-width: 1px;
  border-color: $component-border-color;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 24px;
  width: 24px;
  vertical-align: bottom;
  outline: none!important;
  &:disabled {
    opacity: 0.5; }
  &:focus, &:active {
    background: darken($color--white, $darken-p);
  }
  &:checked {
    background: $color--primary !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
  }
}

.form-element {
  input[type=checkbox], input[type=radio] {
    margin-right: 4px;
  }
}

input[type=checkbox] {
  @include radius($base--radius);
  &:checked {
    &:after {
      display: block;
      position: relative;
      content: '';
      height: 4px;
      width: 10px;
      border-bottom: 4px solid #fff;
      border-left: 4px solid #fff;
      -webkit-transform: translate(4px, 6px) rotate(-45deg);
    }
  }
}

input[type=radio] {
  border-radius: 50%;
  &:checked {
    &:after {
      display: block;
      position: relative;
      content: '';
      left: 6px;
      top: 6px;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background: #fff;
    }
  }
}

//file
input[type="file"] {
  font-family: $font--1;
  font-size: em(14);
  color: $color--gray;
  display: block;
}

//errors
.form-element.has-error {
  //button errors
  .button__content {
    box-shadow: inset 0 0 0 1px $color--error;
  }
  //input errors
  input, textarea, .select-wrap {
    background: lighten($color--error, $lighten-p);
    border: 1px solid $color--error;
  }
  .input-group__element input {
    border-right: 0;
  }
  input[type=checkbox], input[type=radio] {
    border-color: $color--error;
  }
  label {
    color: $color--error;
  }
  .form-element__error {
    display: block;
  }
}
.form-element__error {
  display: none;
  font-size: em($font-size--6);
  font-family: $font--1;
  color: $color--error;
  line-height: 1.339;
}