//Forms are used to collect data from users
$form-element-bg: #e8eaeb;

//use form-element to wrap around things like labels with inputs
.form-element {
  padding-bottom: em(16);
  position: relative;
  //labels for form elements
  &__label {
    color: $color--gray--dark;
    display: block;
    font-family: $font--1;
    font-size: 1em;
    line-height: 1.5;
  }
}

//the basis of all* inputs
%form-element-base {
  @include radius;
  @include transition(background-color);
  background-color: $form-element-bg;
  background-image: none;
  border: 1px solid $component-border-color;
  color: $color--gray--dark;
  display: block;
  font-family: $font--1;
  font-size: 1em;
  font-weight: $font-weight--1;
  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  outline: none;
  padding: em(8) em(8);
  width: 100%;
  &:focus {
    background-color: $color--white;
  }
  &:-moz-placeholder {
    color: $color--gray;
  }
  &::-moz-placeholder {
    color: $color--gray;
    opacity: 1 !important;
  }
  &:-ms-input-placeholder {
    color: $color--gray;
  }
  &::-webkit-input-placeholder {
    color: $color--gray;
  }
}

//extending the form-element base to appropriate selectors
input {
  &[type="text"], &[type="password"], &[type="tel"], &[type="number"], &[type="email"], &[type="search"], &[type="url"] {
    -webkit-appearance: none;
    @extend %form-element-base;
    height: em(40);
  }
  // Change the white to any color ;)
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color--white inset;
  }
}

//textareas
textarea {
  @extend %form-element-base;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  height: em(96);
  resize: vertical;
}

//input groups
//general attributes for input groups
.input-group {
  position: relative;
  > .input-group__element input, > .input-group__element .selectize-input {
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
  }
  > .input-group__action .button__content {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

//these selectors must be at the root of the css file for scoping purposes
@at-root {
  //with flexbox
  .flexbox {
    .input-group {
      @include flexbox;
      &__element {
        @include flex;
      }
      &__action {
        @include flex(initial);
      }
    }
  }
  //without flexbox | not quite the same. We use display: table, display: table-cell.
  .no-flexbox {
    .input-group {
      @include clearfix;
      border-collapse: separate;
      display: table;
      &__element {
        display: table-cell;
        width: 100%;
      }
      &__action {
        display: table-cell;
        vertical-align: middle;
        width: 1%;
        .button, .button__content {
          width: 100%;
        }
      }
    }
  }
}

//when you need an icon for a form element use a wrap
.form-element__wrap {
  position: relative;
  &.has-icon input {
    padding-right: em(52);
  }
}
//form element icons
.form-element__icon {
  color: $color--gray;
  height: em(38);
  line-height: 1.5;
  padding: em(8) em(8);
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0px;
  width: em(52);
  z-index: 0;
}
//selects need a wrap so we can customize how they look
.select-element {
  @include radius;
  background-color: $color--white;
  border-color: $component-border-color;
  border-style: solid;
  border-width: 1px;
  position: relative;
  &:hover {
    background-color: darken($color--white, $darken-p);
  }
  //select-element__icon can be used to display a caret, or any icon you'd like for your select. will always be on the right.
  .select-element__icon {
    color: $color--gray;
    cursor: pointer;
    height: em(38);
    line-height: 1.5;
    padding: em(8) em(8);
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: em(52);
    z-index: 0;
  }
  //stripping the styles from the select so its transparent and matches other form elements
  select {
    -moz-appearance: none;
    -moz-appearance: progresschunk; //this is a weird fix for firefox
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
    background: transparent;
    border: 0;
    color: $color--gray--dark;
    cursor: pointer;
    font-family: $font--1;
    font-size: 1rem;
    font-weight: $font-weight--1;
    height: em(38);
    margin: 0px;
    outline: none;
    padding-left: em(8);
    padding-right: em(52);
    position: relative;
    width: 100%;
    z-index: 1;
    &::-ms-expand {
      display: none;
    }
    &::-moz-focus-inner {
      border: 0;
    }
  }
}

// Checkboxes and Radios
input[type=checkbox], input[type=radio] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  background: #fff;
  border-color: $component-border-color;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  height: 24px;
  outline: none !important;
  vertical-align: bottom;
  width: 24px;
  &:disabled {
    opacity: 0.5;
  }
  &:focus, &:active {
    background: darken($color--white, $darken-p);
  }
  &:checked {
    -webkit-box-shadow: none;
    background: $color--primary !important;
    border: 1px solid transparent;
    box-shadow: none;
  }
}
//when inside a form-element checkboxes and radios get a margin to the right so the label isn't right up against it.
.form-element {
  input[type=checkbox], input[type=radio] {
    margin-right: 4px;
  }
}
//when a checkbox is checked it gets a background and a checkmark made from borders
input[type=checkbox] {
  @include radius($base--radius);
  &:checked {
    &:after {
      -webkit-transform: translate(5px, 7px) rotate(-45deg);
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      content: '';
      display: block;
      height: 4px;
      position: relative;
      width: 10px;
    }
  }
}
//when a radio is checked it gets a background and a white dot in the middle
input[type=radio] {
  border-radius: 50%;
  &:checked {
    &:after {
      background: #fff;
      border-radius: 100%;
      content: '';
      display: block;
      height: 10px;
      left: 6px;
      position: relative;
      top: 6px;
      width: 10px;
    }
  }
}

//file input can't be styled much
input[type="file"] {
  color: $color--gray;
  display: block;
  font-family: $font--1;
  font-size: em(14);
}

//errors for form elements
.form-element.form-element--has-error {
  //button errors
  .button__content {
    box-shadow: inset 0 0 0 1px $color--error;
  }
  //input errors
  input, textarea, .select-element {
    background: lighten($color--error, $lighten-p);
    border: 1px solid $color--error;
  }
  .input-group__element input {
    border-right: 0;
  }
  input[type=checkbox], input[type=radio] {
    border-color: $color--error;
  }
  .form-element__label {
    color: $color--error;
  }
  .form-element__error-text {
    display: block;
  }
}
//if you need some text for your error put it below the input inside of the form-element
.form-element__error-text {
  color: $color--error;
  display: none;
  font-family: $font--1;
  font-size: em($font-size--6);
  line-height: 1.339;
}

//labels for inputs
label {
  &.input-size {
    padding: .5em 0;
  }
}

//if you need form elements inside of a list use a form-list
.form-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
  }
  //if you need them to have no space between use collapse
  &--collapse {
    padding-bottom: 1em;
    li {
      padding: 0;
    }
  }
}