/*
<ul class="list">
	<li class="list__item list__item--active">
		<span class="list__item-content">An active item with an icon on the right</span>
		<span class="list__item-icon icon icon--image"></span>
	</li>
	<li class="list__item">
		<span class="list__item-content">An item with an icon on the right</span>
		<span class="list__item-icon icon icon--image"></span>
	</li>
	<li class="list__item">
		<span class="list__item-icon icon icon--image"></span>
		<span class="list__item-content">An item with an icon on the left</span>
	</li>
	<li class="list__item">
		<span class="list__item-content">An item with a cap on the right with an image inside</span>
		<span class="list__item-cap">
		<img class="square--xsmall" src="https://d13yacurqjgara.cloudfront.net/users/3460/avatars/normal/f6debbb5044f838dcf78bc3299172657.jpg?1421783568"/>
		</span>
	</li>
	<li class="list__item">
		<span class="list__item-cap">
		<img class="square--xsmall" src="https://d13yacurqjgara.cloudfront.net/users/3460/avatars/normal/f6debbb5044f838dcf78bc3299172657.jpg?1421783568"/>
		</span>
		<span class="list__item-content">An item with a cap on the left with an image inside n item with a cap on the left with an image inside n item with a cap on the left with an image inside n item with a cap on the left with an image inside</span>
	</li>
</ul>
*/

$list-icon-w: 40;
$list-icon-h: 40;

//the list
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  //remove radius on collapse
  &--collapse-on-small-only {
    @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
      .list__item {
        border-radius: 0;
      }
    }
  }
  &--multi-line {
    .list__item {
      .list__item-content {
        white-space: normal;
      }
    }
  }
}

//the list items
.list__item {
  border-radius: $base--radius;
  cursor: pointer;
  font-family: $font--1;
  font-size: 1em;
  line-height: 1.5;
  margin-left: 0;
  transition: background-color $trans-duration;
  &:hover {
    background-color: darken($color--white, $darken-p);
    transition: background-color $trans-duration;
  }
  &--active {
    background-color: $color--primary;
    color: $color--white;
    &:hover {
      background-color: $color--primary;
      color: $color--white;
    }
    .list__item-icon {
      color: $color--white;
      &.solid {
        background-color: transparent;
      }
    }
    .list__item-link {
      > .list__item-content {
        color: $color--white;
      }
    }
    .list__item-content {
      color: $color--white;
    }
  }
  &-link {
    width: 100%;
    > .list__item-content {
      color: $text-color-normal;
    }
  }
  //the main content in the list__item
  &-content {
    color: $text-color-normal;
    overflow: hidden;
    padding: .5em 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  //if your list item needs an icon
  &-icon {
    color: $text-color-deemphasized;
    height: em($list-icon-h);
    line-height: 24px;
    min-width: em($list-icon-w);
    padding: em(8);
    text-align: center;
    width: em($list-icon-w);
    + .list__item-content {
      padding-left: em(8);
    }
    //give it a background
    &.solid {
      background-color: darken($color--white, $darken-p);
      border-radius: $base--radius;
    }
  }
  //a cap can contain an image or something else, but you might wanna make sure it's 24px X 24px unless you don't mind the content not lining up
  &-cap {
    line-height: 0;
    padding: em(8);
    + .list__item-content {
      padding-left: em(8);
    }
  }
  //if you need an alert indicator for your list item
  &-alert {
    height: 40px;
    text-align: center;
    padding: 10px;
    &-content {
      border-radius: 12px;
      display: inline-block;
      font-size: 12px;
      line-height: 20px;
      min-width: 20px;
      padding: 0 4px;
      vertical-align: top;
      .icon {
        line-height: 20px;
      }
      &.default {
        background-color: $color--white;
        box-shadow: inset 0 0 0 1px $component-border-color;
      }
      @each $theme, $color in $ui-colors {
        &--#{$theme} {
          background: $color;
          color: $color--white;
        }
      }
    }
  }
}
//outlined lists
.list.list--outlined {
  background-color: $color--white;
  border-radius: $base--radius;
  box-shadow: inset 0 0 0 1px $component-border-color;
  .list__item {
    border-radius: 0;
    box-shadow: inset 1px 0 $component-border-color, inset -1px 0 $component-border-color, inset 0 -1px $component-border-color;
    &:first-child {
      border-radius: $base--radius $base--radius 0 0;
    }
    &:last-child {
      border-radius: 0 0 $base--radius $base--radius;
    }
    &.list__item--active {
      border-color: $color--primary;
      box-shadow: inset 1px 0 $color--primary, inset -1px 0 $color--primary, inset 0 -1px $color--primary;
      &:hover {
        box-shadow: inset 1px 0 $color--primary, inset -1px 0 $color--primary, inset 0 -1px $color--primary;
      }
    }
    &:hover {
      box-shadow: inset 1px 0 $component-border-color, inset -1px 0 $component-border-color, inset 0 -1px $component-border-color;
    }
  }
}
//when scoped this must be at the root instead of nesting in the scope
@at-root {
  //with flexbox
  .flexbox {
    .list__item, .list__item-link {
      @include flexbox;
      &-content {
        //fix for firefox
        @include flex;
        width: 0;
      }
      &-icon, &-cap, &-alert {
        @include flex(initial);
      }
    }
  }
  //without flexbox | not quite the same. We use display: table, display: table-cell.
  .no-flexbox {
    .list__item, .list__item-link {
      border-collapse: separate;
      display: table;
      table-layout: fixed;
      width: 100%;
      &-content {
        display: table-cell;
        line-height: 1.5;
        padding-right: 48px !important;
        vertical-align: middle;
        width: 100%;
        + .list__item-icon, + .list__item-cap, + .list__item-alert {
          float: right;
        }
      }
      &-icon, &-cap, &-label {
        display: block;
        float: left;
        width: auto;
        + .list__item-content {
          padding-left: 48px !important;
        }
      }
    }
  }
}
