//page heading

$page-bar-heading-size: $font-size--3;
$page-bar-subheading-size: $font-size--4;

.page-bar {
  box-shadow: 0 1px $component-border-color;
  padding: .5em;
  @media (min-width: $brkpoint-md) {
    padding: 1em 0;
    margin-bottom: 1em;
  }
  &__title {
    color: $text-color-emphasized;
    display: block;
    font-size: 1em;
    font-weight: $font-weight--2;
    line-height: 1em;
    overflow: hidden;
    padding: 0 .5em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media (min-width: $brkpoint-md) {
      line-height: em(24, $page-bar-heading-size);
      font-size: em($page-bar-heading-size);
      padding: 0;
      text-align: left;
    }
  }
  &__subtitle {
    color: $text-color-deemphasized;
    display: block;
    font-size: em(14);
    font-weight: $font-weight--1;
    line-height: em(16, 14);
    overflow: hidden;
    padding: 0 .5em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media (min-width: $brkpoint-md) {
      font-size: em($page-bar-subheading-size);
      line-height: em(16, $page-bar-subheading-size);
      padding: 0;
      text-align: left;
    }
  }
  &__control + .page-bar__control {
    margin-left: .25em;
  }
}

//pagination

/*
<ul class="pagination-list">
	<li class="pagination-list__control pagination-list__prev">
		<span class="icon icon--chevron-left"></span>
	</li>
	<li class="pagination-list__item">
		1
	</li>
	<li class="pagination-list__item">
		2
	</li>
	<li class="pagination-list__item pagination-list__item--active">
		3
	</li>
	<li class="pagination-list__control pagination-list__next pagination-list__control--disabled">
		<span class="icon icon--chevron-right"></span>
	</li>
</ul>
*/

.pagination-list {
  font-size: 0;
  list-style-type: none;
  @include clearfix();
  ul {
    display: inline;
  }
  &__item {
    @extend %button-core;
    box-shadow: inset 0 0 0 1px $component-border-color;
    color: $color--primary;
    line-height: 24px;
    min-width: 40px;
    padding: 8px;
    transition: background-color $trans-duration;
    &:hover {
      background-color: darken($color--white, $darken-p);
    }
    &--active, &--active:hover {
      background-color: $color--primary;
      box-shadow: inset 0 0 0 1px $color--primary;
      color: $color--white;
    }
    &--disabled, &--disabled:hover {
      background-color: $form-element-bg;
      color: $text-color-deemphasized;
      cursor: not-allowed;
    }
  }
  &__control {
    @extend %button-core;
    box-shadow: inset 0 0 0 1px $component-border-color;
    color: $color--primary;
    line-height: 24px;
    min-width: 40px;
    padding: 8px;
    transition: background-color $trans-duration;
    &:first-child {
      border-radius: $base--radius 0 0 $base--radius;
    }
    &:last-child {
      border-radius: 0 $base--radius $base--radius 0;
    }
    &:hover {
      background-color: darken($color--white, $darken-p);
    }
    &--active, &--active:hover {
      background-color: $color--primary;
      box-shadow: inset 0 0 0 1px $color--primary;
      color: $color--white;
    }
    &--disabled, &--disabled:hover {
      background-color: $form-element-bg;
      color: $text-color-deemphasized;
      cursor: not-allowed;
    }
  }
}

@at-root {
  .flexbox {
    .page-bar {
      @include flexbox();
      &__main {
        @include flex;
        @include order(-1);
        align-self: center;
      }
      &__control {
        @include flex(initial);
        align-self: center;
        &--left-on-small-only {
          @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
            @include order(-1);
          }
        }
      }
    }
  }
  .no-flexbox {
    .page-bar {
      @include clearfix;
      &__control {
        float: right;
        padding-left: 8px;
        &--left-on-small-only {
          float: left;
        }
      }
    }
  }
}