//Pebbles are colored labels or highlights used to call attention to certain pieces of text
/*
(possible modifiers for pebbles [default, primary, success, error, warning, info, round])
<span class="pebble pebble--default">
  <span class="pebble__content">
    <span class="pebble__text">
      default
    </span>
  </span>
</span>

Pebble with an icon
<span class="pebble pebble--default pebble--round">
  <span class="pebble__content">
  <span class="pebble__icon icon icon--check"></span>
</span>
*/
.pebble {
  @include radius;
  color: #fff;
  display: inline-block;
  font-family: $font--1;
  font-weight: $font-weight--1;
  min-width: em(24);
  text-align: center;
  //padding for the pebble
  &__content {
    padding: 0 em(8);
  }
  //if you have text for the pebble put it here
  &__text {
    //if the text is followed by an icon apply a left margin to the icon
    + .pebble__icon {
      margin-left: em(4);
      margin-right: 0;
    }
  }
  //if the icon is first, we assume it isn't followed by text, and we apply negative margin to have it line up better
  &__icon {
    font-size: 14px;
    line-height: 24px;
    margin-left: em(-4);
    margin-right: em(-4);
  }
  //creating different colors by looping through the ui-colors map
  @each $theme, $color in $ui-colors {
    &--#{$theme} {
      background-color: $color;
    }
  }
  //accounting for default state
  &--default {
    background-color: $color--white;
    box-shadow: inset 0 0 0 1px $component-border-color;
    color: $text-color-normal;
  }
  //rounded pebbles
  &--round {
    border-radius: 1000px;
  }

}