$slate-heading-size: $font-size--3;
$slate-subheading-size: $font-size--4;

.slate {
  font-family: $font--1;
  color: $color--black;
  border-radius: $base--radius;
  &.outlined {
    box-shadow: inset 0 0 0 1px $component-border-color;
  }
  //put headings, subheadings, and buttons here
  &__top {
    padding: 1em;
    position: relative;
    &.outlined {
      box-shadow: inset 0 -1px 0 $component-border-color;
    }
  }
  //put content in here
  &__block {
    padding: 1em;
    &.outlined {
      box-shadow: 0 -1px 0 $component-border-color;
    }
    //account for padding when
    &.account-for-pad {
      padding-bottom: 0;
    }
    &.removable {
      position: relative;
      padding-right: em(56);
      > .close-button {
        color: $color--gray;
        position: absolute;
        right: 0;
        background-image: none; // fixes salesforce button
        background: transparent;
        border-width: 0;
        width: 56px;
        height: 40px;
        padding: 8px 16px;
        outline: none;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        .juicon {
          vertical-align: top;
        }
      }
    }
  }
  //put buttons here
  &__bottom {
    padding: 1em;
    position: relative;
    &.outlined {
      box-shadow: inset 0 1px 0 $component-border-color;
    }
  }
  //descriptive title for the slate
  &__heading {
    display: block;
    font-weight: $font-weight--2;
    color: $color--black;
    font-size: em($slate-heading-size);
    line-height: em(24,$slate-heading-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  //descriptive subtitle for the slate
  &__subheading {
    display: block;
    font-weight: $font-weight--1;
    color: $color--gray;
    font-size: em($slate-subheading-size);
    line-height: em(16, $slate-subheading-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@at-root {
  .flexbox {
    .slate__top, .slate__bottom {
      @include flexbox();
      @include justify-content(flex-end);
      &__main {
        @include flex();
        @include order(-1);
        align-self: center;
      }
      &__control {
        @include flex(initial);
        align-self: center;
      }
    }
  }
  .no-flexbox {
    .slate__top, .slate__bottom {
      @include clearfix();
      &__control {
        float: right;
        padding-left: 8px;
      }
    }
  }
}

//if navbar is in slate
.slate > .nav-bar:first-child {
  border-radius: $base--radius $base--radius 0 0;
}