//slates are boxes for content to go into (panels)

$slate-heading-size: $font-size--3;
$slate-subheading-size: $font-size--4;

//defining the slate
.slate {
  background-color: $color--white;
  border-radius: $base--radius;
  color: $text-color-emphasized;
  font-family: $font--1;
  //if you need outlines use this selector
  &--outlined {
    box-shadow: inset 0 0 0 1px $component-border-color;
    table.table--outlined {
      tr:hover {
        td:first-of-type {
          box-shadow: inset 0 1px 0 $component-border-color, inset 1px 0 0 $component-border-color;
        }
        td:last-of-type {
          box-shadow: inset 0 1px 0 $component-border-color, inset -1px 0 0 $component-border-color;
        }
      }
    }
    //accounting for a table that sits at the end of a slate
    table:last-child {
      &.table--outlined {
        tr:last-of-type {
          &:hover {
            td {
              box-shadow: inset 0 1px 0 $component-border-color, inset 0 -1px 0 $component-border-color!important;
            }
            td:first-of-type {
              box-shadow: inset 0 1px 0 $component-border-color, inset 1px 0 0 $component-border-color, inset 0 -1px 0 $component-border-color!important;
              border-radius: 0 0 0 $base--radius;
            }
            td:last-of-type {
              box-shadow: inset 0 1px 0 $component-border-color, inset -1px 0 0 $component-border-color, inset 0 -1px 0 $component-border-color!important;
              border-radius: 0 0 $base--radius 0;
            }
          }
        }
      }
    }
  }
  //put headings, subheadings, and buttons here
  &__top {
    padding: 1em;
    &--outlined {
      box-shadow: inset 0 -1px 0 $component-border-color;
    }
    &--no-bottom-pad {
      padding-bottom: 0;
    }
    &-main {
      padding-right: 1em;
    }
  }
  //put content in here
  &__block {
    padding: 1em;
    @include clearfix;
    &--outlined {
      box-shadow: 0 -1px 0 $component-border-color;
      &:first-child {
        box-shadow: none;
      }
    }
    //account for padding when elements inside block have space below them that would push the padding out alignment
    &--no-bottom-pad {
      padding-bottom: 0;
    }
    //when the block can be removed by a user apply this selector
    &--removable {
      padding-right: em(72);
      position: relative;
      > .slate__block-close-button {
        @extend %close-button;
        -webkit-transform: translateY(-50%);
        background-image: none;
        // fixes salesforce button
        background: transparent;
        border-width: 0;
        color: $text-color-deemphasized;
        height: 100%;
        outline: none;
        padding: 8px 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: $trans-duration;
        width: 56px;
        box-shadow: inset 1px 0px $component-border-color;
        .icon {
          vertical-align: top;
        }
        &:hover {
          background: darken($color--white, $darken-p);
          box-shadow: inset 1px 0px $component-border-color, inset -1px 0 $component-border-color;
          color: $color--primary;
        }
      }
    }
  }
  //put buttons here
  &__bottom {
    padding: 1em;
    &--no-bottom-pad {
      padding-bottom: 0;
    }
    &--outlined {
      box-shadow: inset 0 1px 0 $component-border-color;
    }
    &-main {
      padding-right: 1em;
    }
  }
  //descriptive title for the slate
  &__title {
    color: $text-color-emphasized;
    display: block;
    font-size: em($slate-heading-size);
    font-weight: $font-weight--2;
    line-height: em(24, $slate-heading-size);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .icon {
      color: $color--gray;
      line-height: 24px;
      margin-right: 16px;
    }
  }
  //descriptive subtitle for the slate
  &__subtitle {
    color: $text-color-deemphasized;
    display: block;
    font-size: em($slate-subheading-size);
    font-weight: $font-weight--1;
    line-height: em(16, $slate-subheading-size);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .icon {
      color: $text-color-deemphasized;
      line-height: 1;
    }
  }
  //collapse
  &--collapse {
    border-radius: 0;
    &-on-small-only {
      @media (min-width: $brkpoint-xs) and (max-width: $brkpoint-md) {
        border-radius: 0;
      }
    }
  }
}

//if navbar is in slate
.slate > .nav-bar {
  border-radius: $base--radius $base--radius 0 0;
  &.nav-bar--default.nav-bar--outlined {
    background-color: transparent;
    .nav-bar__appendage {
      box-shadow: inset -1px 0 0 $component-border-color,inset 1px 0 0 $component-border-color,inset 0 1px 0 $component-border-color;
    }
    .nav-bar__appendage, .nav-bar__list-item:hover > a, .nav-bar__list-item:hover > .button-group {
      @media (max-width: $brkpoint-md) {
        box-shadow: inset -1px 0 $component-border-color, inset 1px 0 $component-border-color;
      }
    }
  }
}

//these selectors must be at the root of the css file for scoping purposes
@at-root {
  .flexbox {
    .slate__top, .slate__bottom {
      @include flexbox;
      @include justify-content(flex-end);
      &-main {
        @include flex;
        @include order(-1);
        align-self: center;
      }
      &-control {
        @include flex(initial);
        align-self: center;
        > * {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
  .no-flexbox {
    .slate__top, .slate__bottom {
      @include clearfix;
      &-control {
        float: right;
        padding-left: 8px;
        > * {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
}