//Tables should only be used to display data

table {
  //setting up the basics
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
  max-width: 100%;
  width: 100%;
  // Cells
  td, th {
    font-family: $font--1;
    font-weight: $font-weight--1;
  }
  td {
    color: $text-color-normal;
  }
  th {
    color: $text-color-emphasized;
  }
  > thead,
  > tbody,
  > tfoot {
    > tr {
      &.tr--active {
        > th,
        > td {
          background-color: $color--primary;
          color: #fff;
        }
      }
      > th,
      > td {
        //border-top: 1px solid $color--gray--x-light;
        line-height: 1.5;
        padding: 8px 16px;
        text-align: left;
        vertical-align: top;
      }
      > th {
        font-weight: $font-weight--2;
      }
    }
  }
  //outlined tables
  &.table--outlined {
    td {
      box-shadow: inset 0 1px 0 $component-border-color;
      color: $text-color-normal;
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        //border-bottom: 1px solid $color--gray--x-light;
     
      }
      &:last-of-type {
        td {
          border-bottom: 0;
        }
      }
    }
  }
  &.vertical-align-middle {
    td {
      vertical-align: middle;
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: darken($color--white, $darken-p);
        cursor: pointer;
        transition: $trans-duration;
      }
    }
  }
}

.table-wrap {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.sort-it {
  position: relative;
}

.sort-arrow {
  -webkit-transition-timing-function: ease-in-out;
  color: $text-color-deemphasized;
  cursor: pointer;
  float: right;
  padding: 4px;
  position: absolute;
  right: 4px;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
  &--flipped {
    transform: rotate(180deg);
  }
}