//Tables should only be used to display data

table {
  td, th {
    font-family: $font--1;
    font-weight: $font-weight--1;
  }
  &.outlined {
    td {
      box-shadow: inset 0 1px 0 $color--gray--x-light;
      color: $color--gray--dark;
    }
  }
  th {
    color: $color--black;
  }
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      &.tr.active {
        > th,
        > td {
          background-color: $color--primary;
          color: #fff;
        }
      }
      > th,
      > td {
        text-align: left;
        padding: 8px 16px;
        line-height: 1.5;
        vertical-align: top;
        //border-top: 1px solid $color--gray--x-light;
      }
      > th {
        font-weight: $font-weight--2;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        //border-bottom: 1px solid $color--gray--x-light;
      }
      &:last-of-type {
        td {
          border-bottom: 0;
        }
      }
    }
  }
  &.vertical-align-middle {
    td {
      vertical-align: middle;
    }
  }
  tbody {
    tr {
      &:hover {
        cursor: pointer;
        background-color: #f5f6f7;
      }
    }
  }
}
.sort-it {
  position: relative;
}
.sort-arrow {
  float: right;
  cursor: pointer;
  position: absolute;
  right: 4px;
  color: $color--gray;
  padding: 4px;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-duration: .25s;
  &--flipped {
    transform: rotate(180deg);
  }
}